{{> header title="We have received your order #{{order.code}}!" }}

<mj-section>
    <mj-column>
        <mj-text>
            Dear {{ order.customer.firstName }} {{ order.customer.lastName }},
        </mj-text>
        <mj-text>
            Thank you for your order <strong>#{{ order.code }}</strong>. 
            You can check the status of your order and upload artwork by clicking the button below.
            <br/>
        </mj-text>


        <mj-button background-color="#e72170"
                   color="white"
                   href="{{storefrontUrl}}/order?code={{order.code}}&email={{order.customer.emailAddress}}">
            Upload Artwork and Check Order Status
        </mj-button>
        <mj-text><a href="{{vendureHost}}/invoices/yhmfbd91youe253cycwn/{{order.code}}/?email={{order.customer.emailAddress}}" target="_blank">Download invoice</a></mj-text>
    </mj-column>
</mj-section>


{{> footer }}