<ng-template vdrDialogTitle>{{ selectedLine.productVariant.name }}</ng-template>

<form clrForm [formGroup]="formGroup" *ngIf="formGroup">
  <clr-control-container>
    <label>Preset sizes</label>
    <ng-select
      [items]="presetSizes"
      name="presetSizes"
      [formControlName]="'sizeType'"
      appendTo="body"
      bindLabel="name"
      bindValue="name"
      (change)="onPresetSizeChange($event)"
    >
    </ng-select>
  </clr-control-container>
  <clr-control-container class="qty-row">
    <label>Quantity</label>
    <input type="number" [formControlName]="'quantity'" min="0" />
  </clr-control-container>
  <clr-control-container class="unit-price-row">
    <label>Custom Unit Price (Excluding VAT)</label>
    <vdr-currency-input
      [currencyCode]="selectedLine.productVariant.currencyCode"
      formControlName="customUnitPriceExVAT"
      min="0"
    />
  </clr-control-container>
  <div class="clr-row sizes">
    <div class="clr-col-3 first-size-col">
      <label class="first-size-labels size-labels">Width in mm</label>
      <input clrInput type="number" [formControlName]="'width'" />
    </div>
    <div class="clr-col-3 height-size-col">
      <label class="size-labels size-labels">Height in mm</label>
      <input clrInput type="number" [formControlName]="'height'" />
    </div>
    <div class="clr-col-4 last-size">
      <label class="last-size-labels size-labels">Measurement Units</label>
      <ng-select
        [items]="measurementUnits"
        name="measurementUnits"
        [formControlName]="'measurementUnit'"
        appendTo="body"
        bindLabel="name"
        bindValue="name"
        (change)="onMeasurementUnitChange($event)"
      >
      </ng-select>
    </div>
  </div>
  <clr-control-container
    formArrayName="optionGroups"
    class="options-control"
    *ngFor="let optionGroup of getConfigurableOptions(); let i = index"
  >
    <label class="material-label">{{ optionGroup.name }}</label>
    <ng-select
      [items]="optionGroup.options"
      [name]="'optionGroupOptions-' + i"
      [formControlName]="i"
      appendTo="body"
      bindLabel="name"
      bindValue="id"
    >
    </ng-select>
  </clr-control-container>
  <clr-control-container>
    <label>Additional Information</label>
    <textarea [formControlName]="'additionalInformation'"></textarea>
  </clr-control-container>
  <div class="clr-row">
    <div class="clr-col-6">
      <small>Retail price</small>
      <div class="new-price">
        {{ retailPrice / 100 | currency: currencyCode }} <br />
      </div>
    </div>
    <div class="clr-col-6">
      <small>Trade price</small>
      <div class="new-price">
        {{ tradePrice / 100 | currency: currencyCode }} <br />
      </div>
    </div>
  </div>
</form>

<ng-template vdrDialogButtons>
  <button type="button" class="btn btn-primary" (click)="adjustOrderLine()">
    Apply
  </button>
  <button type="button" class="btn" (click)="cancel()">Cancel</button>
</ng-template>
