clr-control-container label {
  width: 10% !important;
}

clr-input-container label {
  height: 0 !important;
}

.sizes input {
  width: 11em !important;
}

.sizes,
.qty-row,
.unit-price-row {
  margin-top: 1em !important;
}

.height-size-col {
  margin-left: 2.8em !important;
}

.last-size {
  margin-left: 2.8em !important;
}

.first-size-col {
  margin-left: 0.175em !important;
  margin-right: 0.3em;
}

.name-cell {
  padding-left: 0.5em !important;
}

.variant-name {
  width: 11em !important;
  max-width: 11em !important;
}

.material-label {
  margin-left: 0.175em !important;
  margin-right: 1.25em !important;
}

.first-size-labels {
  margin-left: -1em !important;
}

.size-labels {
  color: var(--clr-forms-label-color, hsl(198, 0%, 27%));
  font-size: 0.65rem;
  font-weight: var(--clr-forms-label-font-weight, 600);
}

textarea {
  width: 100% !important;
  height: 8em !important;
}

div.new-price {
  font-size: 18px !important;
  padding-top: 0.8em !important;
  font-weight: bold !important;
}

.last-size ng-select {
  margin-top: 0.225em !important;
  // margin-left: -4em !important;
}

.options-control {
  margin-bottom: 1em !important;
}
