<!--suppress ALL -->
<mj-section background-color="#000000">
    <mj-column width="100%">
        <mj-text align="center" color="#eee">
            <span>Colour Graphics</span>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
