---
import Footer from "@components/Footer.vue";
import Header from "@components/Header.vue";
// import Alert from "@components/global/Alert.vue";
import Services from "@components/global/Services.vue";
import { removeTrailingAndLeadingSlash } from "../api/util/catalog-util";
import { getStatic } from "../api/directus";

const { title, products, categories, path, metaTitle, metaDescription, structuredData } =
  Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL('/assets/img/cg-logo.svg', Astro.site);

const staticPages = await getStatic();
const domain = removeTrailingAndLeadingSlash(Astro.site?.href || "");
---

<html lang="en">
  <head>
    <title>{title} - Colour Graphics</title>
    <meta charset="utf-8" />
    <meta property="og:image" content={ogImage} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL.href} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff007a" />
    <link rel="stylesheet" href="https://use.typekit.net/fcu4nqs.css" />
    <meta name="apple-mobile-web-app-title" content="ColourGraphics" />
    <meta name="application-name" content="ColourGraphics" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Primary Meta Tags -->
    <meta name="title" content={metaTitle || title} />
    <meta name="description" content={metaDescription} />
    <meta name="og:title" content={metaTitle || title} />
    <meta name="og:description" content={metaDescription} />
    <meta name="og:url" content={`${domain}${path}`} />
    <meta name="google-site-verification" content="q0t5UXupwchQatC7UWYX3NJGfwQG1h8ALCV5shbGe5c">
    {structuredData && <script type="application/ld+json" set:html={JSON.stringify(structuredData)}></script> }

    <!-- Google Tag Manager -->
    <script>
      // @ts-ignore
      (function (w, d, s, l, i) {
        // @ts-ignore
        w[l] = w[l] || [];
        // @ts-ignore
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        // @ts-ignore
        j.async = true;
        // @ts-ignore
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        // @ts-ignore
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TBD56CD");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <div class="flex h-screen w-full flex-col items-center">
      <Services />
      <Header categories={categories} products={products} client:load />
      <main
        class="tablet:mt-[114px] laptop:mt-[169px] relative mt-[66px] inline-table h-full w-full flex-col"
      >
        <!-- <Alert message={alert} /> -->
        <div
          class="tablet:px-10 laptop:px-16 widescreen:px-0 mx-auto max-w-[1920px] px-4"
        >
          <slot />
          <!-- your content is injected here -->
        </div>
      </main>
      <Footer
        categories={categories}
        products={products}
        staticPagesList={staticPages}
        client:load
      />
    </div>
  </body>
</html>
