<template>
  <form
    @focusout="emitAddress()"
    class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
  >
    <div class="sm:col-span-2">
      <label for="first-name" class="block text-sm font-medium text-gray-700"
        >Full name</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.fullName"
          type="text"
          id="full-name"
          name="full-name"
          autocomplete="full-name"
          class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm sm:text-sm"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label for="company" class="block text-sm font-medium text-gray-700"
        >Company</label
      >
      <div class="mt-1">
        <AddressLookupInput
          :input-value="orderAddress.company ?? ''"
          @input-changed="orderAddress.company = $event"
          @address-selected="setLookedUpAddress($event)"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label for="postal-code" class="block text-sm font-medium text-gray-700"
        >Postal code*</label
      >
      <div class="mt-1">
        <AddressLookupInput
          :input-value="orderAddress.postalCode ?? ''"
          @input-changed="orderAddress.postalCode = $event"
          @address-selected="setLookedUpAddress($event)"
        />
      </div>
      <span v-if="errors.postalCode" class="text-xs text-red-500">{{
        errors.postalCode
      }}</span>
    </div>

    <div class="sm:col-span-2">
      <label for="address" class="block text-sm font-medium text-gray-700"
        >Address line 1*</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.streetLine1"
          type="text"
          name="address"
          id="address"
          autocomplete="street-address"
          class="block w-full rounded-md shadow-sm sm:text-sm"
          :class="
            errors.streetLine1
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'focus:border-primary focus:ring-primary border-gray-300'
          "
          @blur="
            !isRequired(orderAddress.streetLine1)
              ? (errors.streetLine1 = 'this field is required')
              : (errors.streetLine1 = '')
          "
        />
      </div>
      <span v-if="errors.streetLine1" class="text-xs text-red-500">{{
        errors.streetLine1
      }}</span>
    </div>

    <div class="sm:col-span-2">
      <label for="apartment" class="block text-sm font-medium text-gray-700"
        >Address line 2</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.streetLine2"
          type="text"
          name="apartment"
          id="apartment"
          class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm sm:text-sm"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label for="addressline-3" class="block text-sm font-medium text-gray-700"
        >Address line 3</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.customFields!.addressline3"
          type="text"
          name="addressline-3"
          id="addressline-3"
          class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm sm:text-sm"
        />
      </div>
    </div>

    <div>
      <label for="city" class="block text-sm font-medium text-gray-700"
        >City*</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.city"
          type="text"
          name="city"
          id="city"
          autocomplete="address-level2"
          class="block w-full rounded-md shadow-sm sm:text-sm"
          :class="
            errors.city
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'focus:border-primary focus:ring-primary border-gray-300'
          "
          @blur="
            !isRequired(orderAddress.city)
              ? (errors.city = 'this field is required')
              : (errors.city = '')
          "
        />
      </div>
      <span v-if="errors.city" class="text-xs text-red-500">{{
        errors.city
      }}</span>
    </div>

    <div>
      <label for="country" class="block text-sm font-medium text-gray-700"
        >Country*</label
      >
      <div class="mt-1">
        <select
          id="country"
          name="country"
          autocomplete="country-name"
          class="block w-full rounded-md shadow-sm sm:text-sm"
          :class="
            errors.country
              ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
              : 'focus:border-primary focus:ring-primary border-gray-300'
          "
          v-model="orderAddress.countryCode"
          @blur="
            !isRequired(orderAddress.countryCode)
              ? (errors.country = 'this field is required')
              : (errors.country = '')
          "
        >
          <option
            v-for="country in availableCountries"
            :value="country.code"
            :key="country.id"
          >
            {{ country.name }}
          </option>
        </select>
      </div>
      <span v-if="errors.country" class="text-xs text-red-500">{{
        errors.country
      }}</span>
    </div>

    <div class="sm:col-span-2">
      <label for="region" class="block text-sm font-medium text-gray-700"
        >State / Province</label
      >
      <div class="mt-1">
        <input
          v-model="orderAddress.province"
          type="text"
          name="region"
          id="region"
          autocomplete="address-level1"
          class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm sm:text-sm"
        />
      </div>
    </div>
  </form>
</template>
<script setup lang="ts">
import { reactive, ref } from "vue";
import { isRequired } from "../utils/formValidation";
import type {
  CreateAddressInput,
  AvailableCountriesQuery,
} from "../api/graphql/generated";
import { watchEffect } from "vue";
import { FullAddressResult } from "../api/loqate";
import debounce from "debounce";

const emit = defineEmits<{
  (event: "set-address", orderAddress: CreateAddressInput): void;
}>();

const props = defineProps<{
  availableCountries: AvailableCountriesQuery["availableCountries"] | null;
  defaultValues?: CreateAddressInput | null;
}>();

const orderAddress = reactive<CreateAddressInput>({
  fullName: "",
  company: "",
  streetLine1: "",
  streetLine2: "",
  city: "",
  countryCode: "",
  province: "",
  postalCode: "",
  customFields: {
    addressline3: "",
  },
});

watchEffect(() => {
  if (props.defaultValues) {
    orderAddress.fullName = props.defaultValues.fullName;
    orderAddress.city = props.defaultValues.city ?? "";
    orderAddress.company = props.defaultValues.company ?? "";
    orderAddress.streetLine1 = props.defaultValues.streetLine1 ?? "";
    orderAddress.streetLine2 = props.defaultValues.streetLine2 ?? "";
    orderAddress.countryCode = props.defaultValues.countryCode ?? "";
    orderAddress.postalCode = props.defaultValues.postalCode ?? "";
    orderAddress.province = props.defaultValues.province ?? "";
    orderAddress.customFields!.addressline3 =
      props.defaultValues.customFields?.addressline3 ?? "";
  }
  const UK = props.availableCountries?.find((country) => country.code == "GB");
  if (UK) orderAddress.countryCode = "GB";
});

const errors = reactive({
  postalCode: "",
  streetLine1: "",
  country: "",
  city: "",
});

/**
 * Assign the looked up address to our local model
 */
function setLookedUpAddress(address: FullAddressResult) {
  orderAddress.city = address.City;
  orderAddress.company = address.Company;
  orderAddress.streetLine1 = address.Line1;
  orderAddress.streetLine2 = address.Line2;
  orderAddress.countryCode = address.CountryIso2;
  orderAddress.postalCode = address.PostalCode;
  orderAddress.province = address.Province;
  orderAddress.customFields!.addressline3 = address.Line3;
}

// Emit address change with a delay of 300ms to prevent concurrent emits
const emitAddress = debounce(function () {
  if (
    orderAddress?.city !== "" &&
    orderAddress?.postalCode !== "" &&
    orderAddress?.countryCode !== "" &&
    orderAddress?.streetLine1 !== ""
  ) {
    emit("set-address", orderAddress);
  }
}, 300);
</script>

<style scoped>
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
