<template>
  <Combobox as="div" v-model="selectedAddress" nullable>
    <div class="relative mt-2">
      <ComboboxInput
        class="focus:ring-primary w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
        @change="query = $event.target.value"
        :display-value="() => displayValue"
      />
      <ComboboxButton
        class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none"
      >
        <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
      </ComboboxButton>

      <ComboboxOptions
        v-if="addressResults.length > 0"
        class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
      >
        <ComboboxOption
          v-for="address in addressResults"
          :key="address.Id"
          :value="address"
          as="template"
          v-slot="{ active, selected }"
        >
          <li
            :class="[
              'relative cursor-default select-none py-2 pl-3 pr-9',
              active ? 'bg-primary text-white' : 'text-gray-900',
            ]"
          >
            <span :class="['block truncate', selected && 'font-semibold']">
              {{ address.Text }}
            </span>

            <span
              v-if="selected"
              :class="[
                'absolute inset-y-0 right-0 flex items-center pr-4',
                active ? 'text-white' : 'text-primary',
              ]"
            >
              <CheckIcon class="h-5 w-5" aria-hidden="true" />
            </span>
          </li>
        </ComboboxOption>
      </ComboboxOptions>
    </div>
  </Combobox>
</template>
<script setup lang="ts">
import {
  Combobox,
  ComboboxButton,
  ComboboxInput,
  ComboboxOption,
  ComboboxOptions,
} from "@headlessui/vue";
import { CheckIcon, ChevronUpDownIcon } from "@heroicons/vue/20/solid";
import { ref, watch } from "vue";
import {
  AddressLookupResult,
  FullAddressResult,
  findAddresses,
  retrieveAddress,
} from "../api/loqate";

const query = ref<string>("");
const addressResults = ref<AddressLookupResult[]>([]);
const selectedAddress = ref<AddressLookupResult | null>(null);

const props = defineProps<{
  inputValue: string;
}>();

const emit = defineEmits<{
  (event: "addressSelected", address: FullAddressResult): void;
  (event: "inputChanged", input: string): void;
}>();

// The value to display inside the input element
const displayValue = ref<string>("");

// Search for addresses when the query changes
watch(query, (newQuery) => {
  emit("inputChanged", newQuery);
  lookupAddress(newQuery);
  // Set the display value to the query when it changed
  displayValue.value = newQuery;
});

// Whenever new input is passed in, update the display value
watch(
  () => props.inputValue,
  (newInput) => {
    displayValue.value = newInput;
  },
);

// Emit the selected address when a user selects one
watch(selectedAddress, async (newSelectedAddress, oldSelectedAddress) => {
  if (!newSelectedAddress || newSelectedAddress === oldSelectedAddress) {
    return;
  }
  const fullAddress = await retrieveAddress(newSelectedAddress.Id);
  if (fullAddress) {
    emit("addressSelected", fullAddress);
  }
});

async function lookupAddress(searchQuery: string): Promise<void> {
  if (searchQuery?.length < 5) {
    return;
  }
  addressResults.value = await findAddresses(searchQuery);
}
</script>
