<template>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Blog | COLOURGRAPHICS.COM
        </h2>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article
          v-for="post in page.data"
          :key="post.id"
          class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80"
        >
          <BlogCard
            :title="post.title"
            :image="post.featuredImageUrl ? post.featuredImageUrl : ''"
            :publishedDate="post.publishedAt"
            :url="post.slug"
          />
        </article>
      </div>
    </div>
    <Pagination
      :currentPage="page.currentPage"
      :totalPages="Math.ceil(page.total / 21)"
      :nextPageUrl="page.url.next || ''"
      :prevPageUrl="page.url.prev || ''"
      class="my-12"
    />
  </div>
</template>
<script lang="ts" setup>
import { Blog } from "../api/directus";
import { Page } from "astro";

const props = defineProps<{
  page: Page<Blog>;
}>();
</script>
