<template>
  <div>
    <div class="bg-white px-6 py-32 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <img
          :src="blog.featuredImageUrl"
          alt=""
          class="rounded-lg md:rounded-xl"
        />
        <h1 class="mt-4 text-3xl font-bold text-gray-600">{{ blog.title }}</h1>
        <div
          class="mt-2 flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-600"
        >
          <time class="mr-8">{{ formatDate(blog.publishedAt) }}</time>
          <div class="-ml-4 flex items-center gap-x-4">
            <div class="flex gap-x-2.5">James Birch</div>
          </div>
        </div>
        <div class="prose mt-10 max-w-2xl" v-html="blog.content"></div>
      </div>
    </div>
    <h3
      class="mb-6 text-center text-3xl font-bold tracking-tight text-gray-900 sm:mb-14 sm:text-4xl"
    >
      Related Blogs
    </h3>
    <BlogsRow :blogs="recentBlogs" />
  </div>
</template>

<script setup lang="ts">
import { formatDate } from "../utils/date";
import { Blog } from "../api/directus";

const props = defineProps<{
  blog: Blog;
  recentBlogs: Blog[];
}>();
</script>
