<template>
  <div
    class="mx-auto mb-10 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mb-10 md:mx-0 md:max-w-none md:grid-cols-3"
  >
    <article
      v-for="post in blogs"
      :key="post.id"
      class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 md:pt-80"
    >
      <BlogCard
        :title="post.title"
        :image="post.featuredImageUrl ? post.featuredImageUrl : ''"
        :publishedDate="post.publishedAt"
        :url="post.slug"
      />
    </article>
  </div>
</template>

<script setup lang="ts">
import { Blog } from "../api/directus";

const props = defineProps<{
  blogs: Blog[];
}>();
</script>
