<template>
  <div>
    <img
      :src="image"
      alt=""
      class="absolute inset-0 -z-10 h-full w-full object-cover"
    />
    <div
      class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
    />
    <div
      class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    />

    <div
      class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300"
    >
      <time class="mr-8">{{ formatDate(publishedDate) }}</time>
      <div class="-ml-4 flex items-center gap-x-4">
        <div class="flex gap-x-2.5">James Birch</div>
      </div>
    </div>
    <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
      <a :href="`/blog/${url}`">
        <span class="absolute inset-0" />
        {{ title }}
      </a>
    </h3>
  </div>
</template>

<script setup lang="ts">
import { formatDate } from "../utils/date";

const props = defineProps<{
  image: string;
  title: string;
  publishedDate: string;
  url: string;
}>();
</script>
