<template>
  <button
    class="focus:ring-primary-300 mx-auto flex w-full flex-1 items-center justify-center rounded-md border px-8 py-3 text-base font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 disabled:bg-gray-400"
    :class="
      outline
        ? 'border-primary text-primary'
        : 'bg-primary hover:bg-primary-300 border-transparent text-white '
    "
  >
    <Spinner v-if="loading" colour="white" />
    {{ text }}
  </button>
</template>
<script setup lang="ts">
import Spinner from "@components/global/Spinner.vue";

const props = defineProps({
  text: String,
  loading: Boolean,
  outline: { type: Boolean, default: false },
});
</script>
