<template>
  <div v-if="activeOrder" class="bg-white">
    <div
      class="tablet:pt-16 laptop:max-w-7xl tablet:px-16 mx-auto px-4 pb-24 pt-6 sm:px-6"
    >
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Shopping Cart
      </h1>
      <form
        class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16"
      >
        <section aria-labelledby="cart-heading" class="lg:col-span-7">
          <h2 id="cart-heading" class="sr-only">
            Items in your shopping cart {{ activeOrder?.lines.length }}
          </h2>

          <ul
            role="list"
            class="divide-y divide-gray-200 border-b border-t border-gray-200"
          >
            <li
              v-for="(orderLine, orderLineIndex) in activeOrder?.lines"
              :key="orderLineIndex"
              class="flex py-6 sm:py-10"
            >
              <CartOrderLine :orderLine="orderLine" />
            </li>
          </ul>
        </section>

        <!-- Order summary -->
        <section
          aria-labelledby="summary-heading"
          class="mt-16 rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:col-span-4 lg:mt-0 lg:p-8"
        >
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
            Order summary
          </h2>

          <dl class="mt-6 space-y-4">
            <div class="flex items-center justify-between">
              <dt class="text-sm text-gray-600">Subtotal</dt>
              <dd class="text-sm font-medium text-gray-900">
                {{ $filters.price(activeOrder?.subTotalWithTax) }}
              </dd>
            </div>
            <div
              class="flex items-center justify-between border-t border-gray-200 pt-4"
            >
              <dt class="flex items-center text-sm text-gray-600">
                <span>Shipping</span>
              </dt>
              <dd class="text-sm font-medium text-gray-900">
                {{ $filters.price(activeOrder?.shipping) }}
              </dd>
            </div>
            <div
              class="flex items-center justify-between border-t border-gray-200 pt-4"
            >
              <dt class="text-base font-medium text-gray-500">
                Total Excl. Tax
              </dt>
              <dd class="text-base font-medium text-gray-500">
                {{ $filters.price(activeOrder?.total) }}
              </dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-base font-medium text-gray-900">Total</dt>
              <dd class="text-base font-medium text-gray-900">
                {{ $filters.price(activeOrder?.totalWithTax) }}
              </dd>
            </div>
          </dl>

          <div class="mt-6">
            <a href="/checkout">
              <button
                type="button"
                class="bg-primary hover:bg-primary focus:ring-primary relative w-full rounded-md border border-transparent px-4 py-3 text-base font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50"
              >
                Checkout
              </button>
            </a>
          </div>
        </section>
      </form>
    </div>
  </div>
  <template v-else>
    <div class="my-20 flex">
      <spinner width="20" height="20" class="!my-30 mx-auto" />
    </div>
  </template>
</template>

<script lang="ts" setup>
import Spinner from "@components/global/Spinner.vue";
import CartOrderLine from "./CartOrderLine.vue";
import { useActiveOrder } from "../composables/useActiveOrder";

const { activeOrder } = useActiveOrder();
</script>
