<template>
  <div>
    <input
      @input="
        adjustOrderLine({
          orderLineId: orderLineId,
          quantity: Number(($event.target as HTMLInputElement).value),
        })
      "
      type="number"
      :value="currentValue"
      class="focus:border-primary focus:ring-primary block h-10 w-20 rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
    />
  </div>
</template>

<script setup lang="ts">
import { useActiveOrder } from "../composables/useActiveOrder";

const { adjustOrderLine } = useActiveOrder();

const props = defineProps<{
  currentValue: number;
  orderLineId: number | string;
}>();
</script>
