<template>
  <div
    class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
  >
    <img
      :src="orderLine.featuredAsset?.preview"
      :alt="orderLine.productVariant.name"
      class="h-full w-full object-cover object-center"
    />
  </div>

  <div class="ml-4 flex flex-1 flex-col">
    <div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3>
          <a href="#">{{ orderLine.productVariant.product.name }}</a>
        </h3>
        <p class="ml-4">
          {{ $filters.price(orderLine.linePriceWithTax) }}
        </p>
      </div>
      <div class="flex justify-between text-right font-medium text-gray-500">
        <small></small>
        <small class="ml-4">
          Excl. Tax {{ $filters.price(orderLine.linePrice) }}
        </small>
      </div>

      <!-- Selected option-->
      <div class="mt-1 flex text-xs">
        <p class="text-gray-500">
          <template
            v-if="orderLine.selectedConfiguratorOptions"
            v-for="option in orderLine.selectedConfiguratorOptions"
          >
            <strong>{{ option.optionGroupName }}: </strong>
            <span v-if="['Height', 'Width'].includes(option.optionGroupName)">
              {{ convertFromMmToUnitAndRound(option.optionValue, measurement) }}
              <select
                class="border-0 bg-none p-0 text-xs"
                style="appearance: auto"
                v-model="measurement"
              >
                <option v-for="(value, key) of measurementUnits" :value="key">
                  {{ key }}
                </option>
              </select>
            </span>
            <span v-else>{{ option.optionValue }}</span
            ><br />
          </template>
          <template v-else>
            {{ orderLine.productVariant.product.name }}
          </template>
        </p>
      </div>
    </div>

    <div class="mt-1 flex flex-1 items-end justify-between text-sm">
      <button
        @click="removeOrderLine(orderLine.id)"
        type="button"
        class="text-primary hover:text-primary font-medium"
      >
        Remove
      </button>

      <CartOrderLineQty
        :currentValue="orderLine.quantity"
        :orderLineId="orderLine.id"
      />
    </div>
  </div>
</template>
<script lang="ts" setup>
import { useActiveOrder } from "../composables/useActiveOrder";
import { OrderFieldsFragment } from "../api/graphql/generated";
import {
  measurementUnits,
  convertFromMmToUnitAndRound,
  type MeasurementUnit,
} from "../utils/measurementUnits";
import { ref, type Ref } from "vue";
import { XMarkIcon } from "@heroicons/vue/20/solid";

const measurement: Ref<MeasurementUnit> = ref("mm");

defineProps<{
  orderLine: OrderFieldsFragment["lines"][0];
}>();

const { removeOrderLine } = useActiveOrder();
</script>
