<template>
  <div
    class="relative box-content min-h-[224px] overflow-x-auto py-2 xl:overflow-visible"
  >
    <div
      class="absolute flex space-x-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0"
    >
      <template v-for="collection in props.collections" :key="collection.id">
        <CategoryCard :collection="collection" class="min-w-[224px]" />
      </template>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Collection } from "../model";
import CategoryCard from "./CategoryCard.vue";

const props = defineProps<{
  collections: Collection[];
}>();
</script>
