<template>
  <div class="bg-gray-50">
    <div>
      <main>
        <div class="laptop:px-16 px-4 md:px-10">
          <div class="py-16 text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900">
              {{ collection.name }}
            </h1>
          </div>

          <FilterComponent
            :items="products"
            @filtered-items="(products) => (filteredProducts = products)"
          />

          <!-- Product grid -->
          <section aria-labelledby="products-heading" class="my-8">
            <template v-if="filteredProducts?.length">
              <h2 id="products-heading" class="sr-only">Products</h2>

              <div
                class="mt-6 grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8"
              >
                <div
                  v-for="product in filteredProducts"
                  :key="product.id"
                  class="group relative"
                >
                  <ProductCard :product="product" />
                </div>
              </div>
            </template>
            <template
              v-else-if="
                !filteredProducts?.length && !collection?.children?.length
              "
            >
              No products match your filter
            </template>
          </section>

          <!-- Sub-Collections -->
          <div class="mb-4" v-if="collection?.children?.length">
            <h2
              class="desktop:text-5xl mb-6 text-[24px] font-bold text-gray-500 md:text-[32px]"
            >
              Subcategories
            </h2>
            <div
              class="grid grid-cols-2 gap-2 sm:grid-cols-2 sm:gap-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-8 xl:grid-cols-5"
            >
              <template class="" v-for="child in subCollection">
                <CategoryCard :collection="child" />
              </template>
            </div>
          </div>

          <!-- Category description -->
          <div class="max-w-4xl py-16" v-if="collection.description">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
              {{ collection.name }}
            </h1>
            <div
              class="prose mt-4 text-sm text-gray-700"
              v-html="collection.description"
            ></div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script lang="ts" setup>
import ProductCard from "../components/ProductCard.vue";
import { type PropType, ref } from "vue";
import type { Collection, Product } from "../model";
import CategoryCard from "./CategoryCard.vue";

const { products, collection, subCollection } = defineProps({
  products: {
    type: Object as PropType<Product[]>,
    default: [],
  },
  collection: {
    type: Object as PropType<Collection>,
    required: true,
  },
  subCollection: {
    type: Object as PropType<Collection[]>,
    default: [],
  },
});

const filteredProducts = ref<Product[]>(products);
</script>
