<template>
  <a :href="collection.path">
    <div class="group relative cursor-pointer">
      <div
        class="lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75"
      >
        <img
          :src="
            collection.featuredAsset?.preview || '/No-Image-Placeholder.png'
          "
          :alt="collection.name"
          class="h-full w-full object-contain object-center lg:h-full lg:w-full"
        />
      </div>
      <div class="mt-4 flex justify-between">
        <div>
          <h3 class="text-sm text-gray-700">
            {{ collection.name }}
          </h3>
        </div>
      </div>
    </div>
  </a>
</template>
<script setup lang="ts">
import type { Collection } from "../model";

defineProps<{
  collection: Collection;
}>();
</script>
