<template>
  <div class="m-10 overflow-hidden rounded-lg bg-white ring-1 ring-slate-900/5">
    <div
      class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
    >
      <h2 class="sr-only">Checkout</h2>
      <div class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
        <div>
          <div>
            <!-- Sign in -->
            <template v-if="!activeCustomer">
              <Button @click="showLoginModal = true" text="Sign in"> </Button>
              <div class="relative mt-8">
                <div
                  class="absolute inset-0 flex items-center"
                  aria-hidden="true"
                >
                  <div class="w-full border-t border-gray-200"></div>
                </div>
                <div class="relative flex justify-center">
                  <span class="bg-white px-4 text-sm font-medium text-gray-500"
                    >Or continue as guest</span
                  >
                </div>
              </div>
            </template>
            <template v-else>
              <small
                >Logged in as {{ activeCustomer.emailAddress }}.
                <span
                  @click="logoutAndRefreshOrder()"
                  class="text-primary hover:text-primary-300 cursor-pointer font-semibold"
                  >Logout
                </span>
              </small>
            </template>

            <h2 class="mt-8 text-lg font-medium text-gray-900">
              Contact information
            </h2>
            <form @focusout="setOrUpdateCustomer()">
              <div
                class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
              >
                <!-- Firstname -->
                <div>
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >First name*</label
                  >
                  <div class="mt-1">
                    <input
                      v-model="customerFirstName"
                      type="text"
                      id="first-name"
                      name="first-name"
                      autocomplete="given-name"
                      class="block w-full rounded-md shadow-sm sm:text-sm"
                      :class="
                        errors.customerFirstName
                          ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                          : 'focus:border-primary focus:ring-primary border-gray-300'
                      "
                      @blur="
                        !isRequired(customerFirstName)
                          ? (errors.customerFirstName =
                              'this field is required')
                          : (errors.customerFirstName = '')
                      "
                    />
                  </div>
                  <span
                    v-if="errors.customerFirstName"
                    class="text-xs text-red-500"
                    >{{ errors.customerFirstName }}</span
                  >
                </div>
                <!-- Lastname -->
                <div>
                  <label
                    for="last-name"
                    class="block text-sm font-medium text-gray-700"
                    >Last name*</label
                  >
                  <div class="mt-1">
                    <input
                      v-model="customerLastName"
                      type="text"
                      id="last-name"
                      name="last-name"
                      autocomplete="family-name"
                      class="block w-full rounded-md shadow-sm sm:text-sm"
                      :class="
                        errors.customerLastName
                          ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                          : 'focus:border-primary focus:ring-primary border-gray-300'
                      "
                      @blur="
                        !isRequired(customerLastName)
                          ? (errors.customerLastName = 'this field is required')
                          : (errors.customerLastName = '')
                      "
                    />
                  </div>
                  <span
                    v-if="errors.customerLastName"
                    class="text-xs text-red-500"
                    >{{ errors.customerLastName }}</span
                  >
                </div>
              </div>
              <!-- Email -->
              <div class="mt-4">
                <label
                  for="email-address"
                  class="block text-sm font-medium text-gray-700"
                  >Email address*</label
                >
                <div class="mt-1">
                  <input
                    type="email"
                    id="email-address"
                    v-model="emailAddress"
                    name="email-address"
                    autocomplete="email"
                    class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm invalid:border-red-500 sm:text-sm"
                    :class="
                      errors.emailAddress
                        ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                        : 'focus:border-primary focus:ring-primary border-gray-300'
                    "
                    @blur="
                      !validateEmail(emailAddress)
                        ? (errors.emailAddress = 'invalid email address')
                        : (errors.emailAddress = '')
                    "
                    :disabled="!!activeCustomer"
                  />
                </div>
                <span v-if="errors.emailAddress" class="text-xs text-red-500">{{
                  errors.emailAddress
                }}</span>
              </div>
              <!-- Phone Number -->
              <div class="mt-4">
                <label
                  for="phone"
                  class="block text-sm font-medium text-gray-700"
                  >Phone*</label
                >
                <div class="mt-1">
                  <input
                    v-model="customerPhoneNumber"
                    type="number"
                    name="phone"
                    id="phone"
                    autocomplete="tel"
                    class="no-spinner block w-full rounded-md shadow-sm sm:text-sm"
                    required
                    :class="
                      errors.phoneNumber
                        ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                        : 'focus:border-primary focus:ring-primary border-gray-300'
                    "
                    @blur="
                      !isValidPhoneNumber(customerPhoneNumber)
                        ? (errors.phoneNumber = 'phone number is invalid')
                        : (errors.phoneNumber = '')
                    "
                  />
                </div>
                <span v-if="errors.phoneNumber" class="text-xs text-red-500">{{
                  errors.phoneNumber
                }}</span>
              </div>
              <!-- Create account -->
              <div
                v-if="!activeCustomer"
                class="justfy-center my-8 flex items-center font-medium text-gray-800"
              >
                <input
                  id="create-account"
                  name="create-account"
                  type="checkbox"
                  class="text-primary mr-2 rounded focus:ring-0"
                  v-model="createAccount"
                />
                <label for="create-account"
                  >Create account with this email</label
                >
              </div>
              <!-- Password -->
              <div class="mt-4" v-if="createAccount">
                <label
                  for="password"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <div class="mt-1">
                  <input
                    type="password"
                    id="password"
                    v-model="password"
                    name="password"
                    class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm invalid:border-red-500 sm:text-sm"
                    :class="
                      errors.password
                        ? 'border-red-500 focus:border-red-500 focus:ring-red-500'
                        : 'focus:border-primary focus:ring-primary border-gray-300'
                    "
                    @input="
                      !isStrongPassword(password)
                        ? (errors.password =
                            'Password must be at least 8 characters long')
                        : (errors.password = '')
                    "
                  />
                </div>
                <span v-if="errors.password" class="text-xs text-red-500">{{
                  errors.password
                }}</span>
              </div>
            </form>
          </div>

          <div class="mt-10 border-t border-gray-200 pt-10">
            <h2 class="text-lg font-medium text-gray-900">
              Shipping information
            </h2>
            <AddressForm
              @set-address="setShippingAddress($event)"
              :availableCountries="availableCountries"
              :defaultValues="shippingAddress"
            />
          </div>

          <div class="mt-10 border-t border-gray-200 pt-10">
            <h2 class="text-lg font-medium text-gray-900">
              Billing information
            </h2>
            <div
              class="justfy-center my-8 flex items-center font-medium text-gray-800"
            >
              <input
                id="same-as-shipping"
                name="same-as-shipping"
                type="checkbox"
                class="text-primary mr-2 rounded focus:ring-0"
                v-model="sameAsShipping"
                @change="removeBillingAddress"
              />
              <label for="same-as-shipping">Same as shipping information</label>
            </div>
            <AddressForm
              v-show="!sameAsShipping"
              @set-address="setBillingAddress($event)"
              :availableCountries="availableCountries ?? []"
              :defaultValues="billingAddress"
            />
          </div>

          <!-- Turnaround methods -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <RadioGroup v-model="selectedTurnaroundMethod">
              <RadioGroupLabel class="text-lg font-medium text-gray-900"
                >Turnaround</RadioGroupLabel
              >

              <div
                class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
              >
                <RadioGroupOption
                  as="template"
                  v-for="turnaroundMethod in turnaroundMethods"
                  :key="turnaroundMethod?.id"
                  :value="turnaroundMethod?.id"
                  v-slot="{ checked, active }"
                  @click="setShippingMethods"
                >
                  <div
                    :class="[
                      checked ? 'border-transparent' : 'border-gray-300',
                      active ? 'ring-primary ring-2' : '',
                      'relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none',
                    ]"
                  >
                    <span class="flex flex-1">
                      <span class="flex flex-col">
                        <RadioGroupLabel
                          as="span"
                          class="block text-sm font-medium text-gray-900"
                          >{{ turnaroundMethod?.name }}</RadioGroupLabel
                        >
                        <RadioGroupDescription
                          as="span"
                          class="mt-1 flex items-center text-sm text-gray-500"
                          v-if="turnaroundMethod.estimatedDeliveryDate"
                        >
                          Estimated Delivery on
                          <br />
                          {{
                            formatDate(turnaroundMethod.estimatedDeliveryDate)
                          }}
                        </RadioGroupDescription>
                        <RadioGroupDescription
                          as="span"
                          class="mt-6 text-sm font-medium text-gray-900"
                          >{{ $filters.price(turnaroundMethod.priceWithTax) }}
                          <small>Incl. Tax</small>
                        </RadioGroupDescription>
                      </span>
                    </span>
                    <CheckCircleIcon
                      v-if="checked"
                      class="text-primary h-5 w-5"
                      aria-hidden="true"
                    />
                    <span
                      :class="[
                        active ? 'border' : 'border-2',
                        checked ? 'border-primary' : 'border-transparent',
                        'pointer-events-none absolute -inset-px rounded-lg',
                      ]"
                      aria-hidden="true"
                    />
                  </div>
                </RadioGroupOption>
              </div>
            </RadioGroup>
          </div>

          <!-- Shipping methods -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <RadioGroup v-model="selectedShippingMethod">
              <RadioGroupLabel class="text-lg font-medium text-gray-900"
                >Delivery</RadioGroupLabel
              >

              <div
                class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4"
              >
                <RadioGroupOption
                  as="template"
                  v-for="shippingMethod in shippingMethods"
                  :key="shippingMethod?.id"
                  :value="shippingMethod?.id"
                  v-slot="{ checked, active }"
                  @click="setShippingMethods"
                >
                  <div
                    :class="[
                      checked ? 'border-transparent' : 'border-gray-300',
                      active ? 'ring-primary ring-2' : '',
                      'relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none',
                    ]"
                  >
                    <span class="flex flex-1">
                      <span class="flex flex-col">
                        <RadioGroupLabel
                          as="span"
                          class="block text-sm font-medium text-gray-900"
                          >{{ shippingMethod?.name }}</RadioGroupLabel
                        >
                        <RadioGroupDescription
                          as="span"
                          class="mt-1 flex items-center text-sm text-gray-500"
                        >
                        </RadioGroupDescription>
                        <RadioGroupDescription
                          as="span"
                          class="mt-6 text-sm font-medium text-gray-900"
                          >{{ $filters.price(shippingMethod.priceWithTax) }}
                          <small>Incl. Tax</small>
                        </RadioGroupDescription>
                      </span>
                    </span>
                    <CheckCircleIcon
                      v-if="checked"
                      class="text-primary h-5 w-5"
                      aria-hidden="true"
                    />
                    <span
                      :class="[
                        active ? 'border' : 'border-2',
                        checked ? 'border-primary' : 'border-transparent',
                        'pointer-events-none absolute -inset-px rounded-lg',
                      ]"
                      aria-hidden="true"
                    />
                  </div>
                </RadioGroupOption>
              </div>
            </RadioGroup>
          </div>

          <!-- Payment -->

          <!-- Purchase order -->
          <div class="mt-10 border-t border-gray-200 pt-10">
            <h2 class="text-lg font-medium text-gray-900">Payment</h2>
          </div>
          <div v-if="eligibleForPurchaseOrder" class="mt-4">
            <div class="sm:flex sm:items-end sm:justify-between">
              <div class="mr-2 w-full">
                <label
                  for="customerReference"
                  class="block text-sm font-medium text-gray-700"
                  >Purchase Order Number</label
                >
                <input
                  v-model="customerReference"
                  id="customerReference"
                  name="customerReference"
                  autocomplete="customerReference"
                  type="text"
                  class="focus:border-primary focus:ring-primary block w-full rounded-md border-gray-300 shadow-sm sm:text-sm"
                />
              </div>
              <Button
                class="whitespace-nowrap py-2"
                text="Purchase Order"
                :disabled="!canConfirm || !customerReference"
                :loading="loadingActiveOrder"
                @click="showPurchaseModal = true"
              />
            </div>
            <div class="relative flex justify-center">
              <span
                class="my-2 bg-white px-4 text-sm font-medium text-gray-500"
              >
                Or pay with Mollie
              </span>
            </div>
            <ConfirmationModal
              v-if="showPurchaseModal"
              message="You are about to place a Purchase Order, are you sure?"
              @closed="showPurchaseModal = false"
              @confirmed="ConfirmPurchaseOrder()"
            />
          </div>
          <DropDown
            :Items="modifiedPaymentMethods"
            :displayText="'Choose payment method'"
            :defaultSelected="
              modifiedPaymentMethods.find((m: any) => m.id === 'creditcard')
            "
            @option-selected="onOptionselected"
          />

          <!-- Confirm Order -->
          <Button
            class="mt-4"
            text="Confirm order"
            :disabled="!canConfirm"
            @click="confirmOrder"
          />
        </div>

        <!-- Order summary -->
        <div class="mt-10 lg:mt-0">
          <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

          <div
            class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm"
          >
            <div v-if="loadingActiveOrder || !activeOrder" class="flex">
              <spinner width="20" height="20" class="!my-40 mx-auto" />
            </div>
            <template v-else>
              <h3 class="sr-only">Items in your cart</h3>
              <ul role="list" class="divide-y divide-gray-200">
                <li
                  v-for="(orderLine, orderLineIndex) in activeOrder?.lines"
                  :key="orderLineIndex"
                  class="flex flex-col px-4 py-6 sm:px-6 md:flex-row"
                >
                  <div class="flex-shrink-0">
                    <img
                      :src="orderLine.featuredAsset?.thumbnail"
                      :alt="orderLine.productVariant.name"
                      class="w-auto rounded-md md:w-20"
                    />
                  </div>

                  <div class="ml-6 flex flex-1 flex-col">
                    <div class="flex">
                      <div class="min-w-0 flex-1">
                        <h4 class="text-sm">
                          <a
                            href="#"
                            class="font-medium text-gray-700 hover:text-gray-800"
                            >{{ orderLine.productVariant.product.name }} x
                            {{ orderLine.quantity }}</a
                          >
                        </h4>
                      </div>
                      {{ $filters.price(orderLine.linePriceWithTax) }}
                    </div>

                    <div class="flex flex-1 justify-between pt-2">
                      <small></small>
                      <small class="text-gray-500"
                        >Excl. Tax
                        {{ $filters.price(orderLine.linePrice) }}</small
                      >
                    </div>
                  </div>
                </li>
              </ul>
              <dl class="space-y-6 px-4 py-6 sm:px-6">
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-6"
                >
                  <dt class="text-base font-medium text-gray-500">Shipping</dt>
                  <dd class="text-base font-medium text-gray-500">
                    {{ $filters.price(activeOrder.shippingWithTax) }}
                  </dd>
                </div>
                <div
                  class="flex items-center justify-between border-t border-gray-200 pt-6"
                >
                  <dt class="text-base font-medium text-gray-500">
                    Total Excl. Tax
                  </dt>
                  <dd class="text-base font-medium text-gray-500">
                    {{ $filters.price(activeOrder.total) }}
                  </dd>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-base font-medium">Total Incl. Tax</dt>
                  <dd class="text-base font-medium text-gray-900">
                    {{ $filters.price(activeOrder.totalWithTax) }}
                  </dd>
                </div>
              </dl>

              <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                <Button
                  text="Confirm order"
                  :disabled="!canConfirm"
                  @click="confirmOrder"
                >
                  Confirm order
                </Button>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <LoginModal
      @logged-in="getActiveOrder()"
      @closed="showLoginModal = false"
      v-if="showLoginModal"
    />
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted, reactive, computed } from "vue";
import {
  validateEmail,
  isRequired,
  isValidPhoneNumber,
  isStrongPassword,
} from "../utils/formValidation";
import { useActiveOrder } from "../composables/useActiveOrder";
import { useActiveCustomer } from "../composables/useActiveCustomer";
import Spinner from "@components/global/Spinner.vue";
import DropDown from "@components/DropDown.vue";
import LoginModal from "./LoginModal.vue";
import {
  RadioGroup,
  RadioGroupDescription,
  RadioGroupLabel,
  RadioGroupOption,
} from "@headlessui/vue";
import { CheckCircleIcon } from "@heroicons/vue/20/solid";
import AddressForm from "./AddressForm.vue";
import {
  type GetEligibleShippingMethodsQuery,
  type AvailableCountriesQuery,
  type ErrorResult,
  type MolliePaymentIntent,
  type CreateAddressInput,
  type MolliePaymentMethodsQuery,
  ErrorCode,
} from "../api/graphql/generated";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { watch } from "vue";
import { activeOrderError, setNotification } from "../store";
import { formatDate } from "../utils/date";

const {
  activeOrder,
  loading: loadingActiveOrder,
  getActiveOrder,
  setCustomerForOrder,
  setOrderShippingAddress,
  setOrderBillingAddress,
  setOrderShippingMethod,
  addPaymentToOrder,
  setOrderCustomFields,
} = useActiveOrder();
const { activeCustomer, logout, updateCustomer } = useActiveCustomer();

const availableCountries = ref<
  AvailableCountriesQuery["availableCountries"] | null
>(null);
const molliePaymentMethods = ref<
  MolliePaymentMethodsQuery["molliePaymentMethods"] | null
>(null);
const eligibleForPurchaseOrder = ref(false);
const shippingAddress = ref<CreateAddressInput | null>(null);
const billingAddress = ref<CreateAddressInput | null>(null);

const createAccount = ref<Boolean>(false);
const showLoginModal = ref<Boolean>(false);
const showPurchaseModal = ref(false);

type ShippingMethods =
  GetEligibleShippingMethodsQuery["eligibleShippingMethods"];
const shippingMethods = ref<ShippingMethods>();
const turnaroundMethods = ref<ShippingMethods>();

const selectedShippingMethod = ref<string | number>("");
const selectedTurnaroundMethod = ref<string | number>("");
const selectedMollieMethod = ref<string | number | null>(null);
const selectedPaymentMethod = ref<string>("mollie-payment-method");
const emailAddress = ref("");
const password = ref("");
const customerFirstName = ref("");
const customerReference = ref("");
const customerPhoneNumber = ref("");
const customerLastName = ref("");
const errors = reactive({
  emailAddress: "",
  customerFirstName: "",
  customerLastName: "",
  phoneNumber: "",
  password: "",
});
const sameAsShipping = ref(true);

const canConfirm = computed(() => {
  const isShippingSet =
    activeOrder.value?.shippingAddress?.fullName &&
    activeOrder.value?.shippingAddress?.streetLine1;
  if (
    activeOrder.value?.customer &&
    isShippingSet &&
    selectedShippingMethod.value &&
    selectedTurnaroundMethod.value
  ) {
    return true;
  }
  return false;
});

onMounted(async () => {
  // Populate available countries and payment methods
  const [countriesResult, paymentMethodsResult] = await Promise.all([
    vendureClient.AvailableCountries(),
    vendureClient.MolliePaymentMethods({
      input: {
        paymentMethodCode: "mollie-payment-method",
      },
    }),
    getAndSetEligibleShippingMethods(),
    getEligiblePaymentMethods(),
  ]);
  availableCountries.value = countriesResult.data.availableCountries;
  molliePaymentMethods.value = paymentMethodsResult.data.molliePaymentMethods;
  const creditCard = molliePaymentMethods.value.find(
    (m: any) => m.id === "creditcard",
  );
  if (creditCard) {
    selectedMollieMethod.value = creditCard.id;
  }
});

watch(activeCustomer, async () => {
  // If active customer changes, we need to refetch eligible payment methods
  await getEligiblePaymentMethods();
});

watch(activeOrder, (newOrder, oldOrder) => {
  if (!newOrder?.lines.length) {
    // Redirect if order is empty
    window.location.href = "/";
  }
  // Set initial values for customer, shipping and billing address based on active order
  customerFirstName.value =
    newOrder?.customer?.firstName ?? activeCustomer.value?.firstName ?? "";
  customerLastName.value =
    newOrder?.customer?.lastName ?? activeCustomer.value?.lastName ?? "";
  customerPhoneNumber.value =
    newOrder?.customer?.phoneNumber ?? activeCustomer.value?.phoneNumber ?? "";
  emailAddress.value =
    newOrder?.customer?.emailAddress ??
    activeCustomer.value?.emailAddress ??
    "";
  const fullName =
    newOrder?.customer?.firstName && newOrder?.customer?.lastName
      ? `${newOrder?.customer?.firstName} ${newOrder?.customer?.lastName}`
      : "";
  shippingAddress.value = {
    fullName: newOrder?.shippingAddress?.fullName ?? fullName,
    company: newOrder?.shippingAddress?.company ?? "",
    streetLine1: newOrder?.shippingAddress?.streetLine1 ?? "",
    streetLine2: newOrder?.shippingAddress?.streetLine2 ?? "",
    customFields: {
      addressline3: newOrder?.shippingAddress?.customFields?.addressline3 ?? "",
    },
    city: newOrder?.shippingAddress?.city ?? "",
    countryCode: newOrder?.shippingAddress?.countryCode ?? "",
    postalCode: newOrder?.shippingAddress?.postalCode ?? "",
    province: newOrder?.shippingAddress?.province ?? "",
  };

  billingAddress.value = {
    fullName:
      newOrder?.billingAddress?.fullName ??
      newOrder?.customer?.firstName + " " + newOrder?.customer?.lastName ??
      "",
    company: newOrder?.billingAddress?.company ?? "",
    streetLine1: newOrder?.billingAddress?.streetLine1 ?? "",
    streetLine2: newOrder?.billingAddress?.streetLine2 ?? "",
    customFields: {
      addressline3: newOrder?.billingAddress?.customFields?.addressline3 ?? "",
    },
    city: newOrder?.billingAddress?.city ?? "",
    countryCode: newOrder?.billingAddress?.countryCode ?? "",
    postalCode: newOrder?.billingAddress?.postalCode ?? "",
    province: newOrder?.billingAddress?.province ?? "",
  };
  if (billingAddress.value?.postalCode) {
    // If a postal code is set, it means the billing address is different from the shipping address
    sameAsShipping.value = false;
  }
});

// Used for displaying payment methods in dropdown
const modifiedPaymentMethods = computed(() => {
  const result: any = [];
  molliePaymentMethods.value?.forEach((method: any) => {
    result.push({
      id: method.id,
      name: method.code,
      avatar: method?.image?.svg,
    });
  });
  return result;
});

const setOrUpdateCustomer = async () => {
  if (
    isValidPhoneNumber(customerPhoneNumber.value) &&
    validateEmail(emailAddress.value) &&
    isRequired(customerFirstName.value) &&
    isRequired(customerLastName.value)
  ) {
    if (activeCustomer.value) {
      await updateCustomer({
        input: {
          firstName: customerFirstName?.value,
          lastName: customerLastName?.value,
          phoneNumber: customerPhoneNumber?.value.toString(),
        },
      });
    } else {
      await setCustomerForOrder({
        input: {
          emailAddress: emailAddress?.value,
          firstName: customerFirstName?.value,
          lastName: customerLastName?.value,
          phoneNumber: customerPhoneNumber?.value.toString(),
        },
      });
    }
    // Refetch eligible shipping and payment methods after a customer is updated
    await Promise.all([
      getAndSetEligibleShippingMethods(),
      getEligiblePaymentMethods(),
    ]);
  }
};

/**
 * Get eligible shipping methods and preselect based on active order.
 * Preselect first methods if none selected yet
 */
async function getAndSetEligibleShippingMethods(): Promise<void> {
  const {
    data: { eligibleShippingMethods },
  } = await vendureClient.GetEligibleShippingMethods();
  turnaroundMethods.value = eligibleShippingMethods.filter((method) =>
    method.code.includes("turnaround"),
  );
  shippingMethods.value = eligibleShippingMethods.filter(
    (method) => !method.code.includes("turnaround"),
  );
  // Preset selected turnaround and shipping method based on order
  const shippingLine = activeOrder.value?.shippingLines.find(
    (line) => !line.shippingMethod.code.includes("turnaround"),
  );
  if (shippingLine) {
    selectedShippingMethod.value = shippingLine.shippingMethod.id;
  }
  const turnaroundLine = activeOrder.value?.shippingLines.find((line) =>
    line.shippingMethod.code.includes("turnaround"),
  );
  if (turnaroundLine) {
    selectedTurnaroundMethod.value = turnaroundLine.shippingMethod.id;
  }
  // Preselect default turnaround and shipping method if none set
  if (!turnaroundLine || !shippingLine) {
    const defaultShippingMethod = shippingMethods.value.find((method) =>
      method.code.includes("delivery"),
    );
    await setOrderShippingMethod({
      shippingMethodId: [
        turnaroundMethods.value[0].id, // Turnaround can just be the first method
        defaultShippingMethod?.id ?? shippingMethods.value[0].id,
      ],
    });
    selectedTurnaroundMethod.value = turnaroundMethods.value[0].id;
    selectedShippingMethod.value = shippingMethods.value[0].id;
  }
}

/**
 * Fetch eligible payment methods and determine if we allow purchase order or not
 */
async function getEligiblePaymentMethods(): Promise<void> {
  const result = await vendureClient.GetEligiblePaymentMethods();
  if (
    result.data.eligiblePaymentMethods.some(
      (m) => m.code === "purchase-order" && m.isEligible,
    )
  ) {
    eligibleForPurchaseOrder.value = true;
  }
}

/**
 * Set both shipping methods and turnaround methods
 */
const setShippingMethods = async () => {
  // Remove any empty or undefined from methods array
  const shippingMethodIds = [
    selectedShippingMethod.value,
    selectedTurnaroundMethod.value,
  ].filter(Boolean);
  if (!shippingMethodIds.length) {
    return;
  }
  setOrderShippingMethod({
    shippingMethodId: shippingMethodIds,
  });
};

const setShippingAddress = async (address: CreateAddressInput) => {
  await setOrderShippingAddress({
    input: address,
  });
  // Refetch eligible shipping methods after a shipping address is updated
  await getAndSetEligibleShippingMethods();
};

const setBillingAddress = async (address: CreateAddressInput) => {
  await setOrderBillingAddress({
    input: address,
  });
};

const confirmOrder = async () => {
  if (createAccount && isStrongPassword(password.value)) {
    vendureClient
      .RegisterCustomerAccount({
        input: {
          firstName: customerFirstName.value,
          lastName: customerLastName.value,
          phoneNumber: String(customerPhoneNumber.value),
          emailAddress: emailAddress.value,
          password: password.value,
        },
      })
      .catch((e: unknown) => {
        setNotification({
          message: `Failed to register account ${emailAddress.value}`,
          error: true,
        });
      });
  }
  const confirmationPage = `${window.location.protocol}//${window.location.host}/order?code=${activeOrder.value?.code}&email=${activeOrder.value?.customer?.emailAddress}`;
  if (selectedPaymentMethod.value === "mollie-payment-method") {
    // Start mollie payment
    const {
      data: { createMolliePaymentIntent },
    } = await vendureClient.CreateMolliePaymentIntentMutation({
      input: {
        molliePaymentMethodCode: String(selectedMollieMethod.value),
        paymentMethodCode: "mollie-payment-method",
        redirectUrl: confirmationPage,
      },
    });
    if ((createMolliePaymentIntent as ErrorResult).errorCode) {
      activeOrderError.value = {
        message: (createMolliePaymentIntent as ErrorResult).message,
        errorCode: (createMolliePaymentIntent as ErrorResult).errorCode,
      };
    }
    // We've validated that its not an error, so it's safe to assert as intent
    window.location.href = (
      createMolliePaymentIntent as MolliePaymentIntent
    ).url;
  } else if (selectedPaymentMethod.value === "purchase-order") {
    // Add purchase order payment to order
    await addPaymentToOrder({
      input: {
        method: "purchase-order",
        metadata: {},
      },
    });
    if (activeOrder.value?.state === "PaymentSettled") {
      window.location.href = confirmationPage;
    }
  } else {
    activeOrderError.value = {
      message: `Payment method ${selectedPaymentMethod.value} not supported`,
      errorCode: ErrorCode.IneligiblePaymentMethodError,
    };
  }
};

/**
 * Remove billing address if same-as-shipping is checked,
 * because that means only a shipping address should be set
 */
const removeBillingAddress = async () => {
  if (sameAsShipping.value) {
    await vendureClient.SetOrderBillingAddress({
      input: {
        streetLine1: "",
        countryCode: availableCountries.value
          ? availableCountries.value[0].code
          : "",
      },
    });
  }
};

const ConfirmPurchaseOrder = async () => {
  showPurchaseModal.value = false;
  selectedPaymentMethod.value = "purchase-order";
  await setOrderCustomFields({
    input: {
      customFields: {
        customerReference: customerReference.value,
      },
    },
  });
  confirmOrder();
};

const onOptionselected = (e: any) => {
  selectedMollieMethod.value = e.id;
};

const logoutAndRefreshOrder = async () => {
  await logout();
  await getActiveOrder();
};
</script>

<style scoped>
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
