<template>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none"
      >
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
          <div>
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">
              Contact us
            </h2>
            <p class="mt-4 leading-7 text-gray-600">
              Our client advisors are at your service
            </p>
          </div>
          <div
            class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8"
          >
            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="mt-3 text-base font-semibold leading-7 text-gray-900">
                Address
              </h3>
              <address
                class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600"
              >
                <p>Colour Graphics</p>
                <p>18 Maybrook Industrial Estate</p>
                <p>Walsall Wood</p>
                <p>WS8 7DG</p>
                <p>United Kingdom</p>
              </address>

              <h3 class="mt-3 text-base font-semibold leading-7 text-gray-900">
                Opening Hours
              </h3>
              <address
                class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600"
              >
                <p>Monday - Friday 09:00 - 17.30</p>
              </address>
            </div>

            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="text-base font-semibold leading-7 text-gray-900">
                Message us
              </h3>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a
                      class="text-primary font-semibold"
                      :href="`mailto:${details.email}`"
                      >{{ details.email }}</a
                    >
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>
                    <a
                      class="text-primary font-semibold"
                      :href="`tel:${details.phoneNumber}`"
                      >{{ details.phoneNumberDisplay }}</a
                    >
                  </dd>
                </div>
              </dl>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                <div>
                  <dt class="sr-only">Whatsapp</dt>
                  <dd>
                    <a
                      class="text-primary font-semibold"
                      target="_blank"
                      :href="`https://wa.me/${details.phoneNumber}`"
                      >Whatsapp</a
                    >
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Facebook</dt>
                  <dd>
                    <a
                      class="text-primary font-semibold"
                      target="_blank"
                      href="https://www.facebook.com/colourgraphics/"
                      >Facebook</a
                    >
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { details } from "../data/global";
</script>
