<template>
  <!-- Single banner -->
  <div
    class="desktop:h-[650px] mt-4 flex w-full items-center justify-center md:mt-6 md:h-[600px]"
  >
    <div class="desktop:py-10 h-2/3 w-full rounded-lg bg-slate-100 py-5">
      <h2
        class="desktop:text-5xl mt-4 text-center text-2xl md:mt-6 md:text-3xl"
      >
        We built our business on customer service
      </h2>
      <div class="mx-10 mt-10 grid grid-cols-1 gap-x-10 md:grid-cols-3">
        <div class="flex flex-col text-center">
          <TruckIcon class="h-32 w-32 self-center" />
          <h3 class="desktop:text-3xl mt-8 text-xl font-bold">Free shipping</h3>
          <p class="desktop:text-xl mt-3 text-base text-gray-400">
            It's not actually free we just price it into the products. Someone's
            paying for it, and it's not us.
          </p>
        </div>
        <div class="flex flex-col text-center">
          <CheckBadgeIcon class="h-32 w-32 self-center" />
          <h3 class="desktop:text-3xl mt-8 text-xl font-bold">
            10-years warranty
          </h3>
          <p class="desktop:text-xl mt-3 text-base text-gray-400">
            If it breaks within the first 10 years we'll replace it. After that
            you're on your own though.
          </p>
        </div>
        <div class="flex flex-col text-center">
          <ArrowUturnDownIcon class="h-32 w-32 self-center" />
          <h3 class="desktop:text-3xl mt-8 text-xl font-bold">Exchanges</h3>
          <p class="desktop:text-xl mt-3 text-base text-gray-400">
            If you don't like it, trade it to one of your friends for something
            of theirs. Don't send it here though.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {
  ArrowUturnDownIcon,
  CheckBadgeIcon,
  TruckIcon,
} from "@heroicons/vue/24/outline";
</script>
