<template>
  <Listbox as="div" v-model="selected">
    <div class="relative mt-2">
      <ListboxButton
        class="focus:ring-primary relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 sm:text-sm sm:leading-6"
      >
        <span class="flex items-center">
          <img
            v-if="selected"
            :src="String(selected?.avatar)"
            alt=""
            class="h-5 w-5 flex-shrink-0 rounded-full"
          />
          <span class="ml-3 block truncate">{{
            selected ? selected.name : displayText
          }}</span>
        </span>
        <span
          class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2"
        >
          <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
        </span>
      </ListboxButton>

      <transition
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <ListboxOptions
          class="z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
        >
          <ListboxOption
            as="template"
            v-for="item in Items"
            :key="item.id"
            :value="item"
            v-slot="{ active, selected }"
            @click="handleSelect(item)"
          >
            <li
              :class="[
                active ? 'bg-primary text-white' : 'text-gray-900',
                'relative cursor-default select-none py-2 pl-3 pr-9',
              ]"
            >
              <div class="flex items-center">
                <img
                  :src="item.avatar"
                  alt=""
                  class="h-5 w-5 flex-shrink-0 rounded-full"
                />
                <span
                  :class="[
                    selected ? 'font-semibold' : 'font-normal',
                    'ml-3 block truncate',
                  ]"
                  >{{ item.name }}</span
                >
              </div>

              <span
                v-if="selected"
                :class="[
                  active ? 'text-white' : 'text-primary',
                  'absolute inset-y-0 right-0 flex items-center pr-4',
                ]"
              >
                <CheckIcon class="h-5 w-5" aria-hidden="true" />
              </span>
            </li>
          </ListboxOption>
        </ListboxOptions>
      </transition>
    </div>
  </Listbox>
</template>

<script setup lang="ts">
import { ref, type PropType } from "vue";
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from "@headlessui/vue";
import { CheckIcon, ChevronUpDownIcon } from "@heroicons/vue/20/solid";
import { watchEffect } from "vue";

interface Item {
  id: string;
  name: string;
  avatar: string;
}

const props = defineProps({
  Items: {
    type: Array as PropType<Item[]>,
    default: [],
  },
  displayText: {
    type: String,
    default: "",
  },
  defaultSelected: {
    type: Object as PropType<Item>,
    required: false,
  },
});

const emit = defineEmits<{
  (event: "option-selected", selectedItem: Item): void;
}>();

const selected = ref<Item | null>(null);

const handleSelect = (item: Item) => {
  selected.value = item;
  emit("option-selected", item);
};

watchEffect(() => {
  if (props.defaultSelected) {
    selected.value = props.defaultSelected;
  }
});
</script>
