<template>
  <!-- Mobile filter dialog -->
  <TransitionRoot as="template" :show="mobileFiltersOpen" v-if="items?.length">
    <Dialog
      as="div"
      class="relative z-40 sm:hidden"
      @close="mobileFiltersOpen = false"
    >
      <TransitionChild
        as="template"
        enter="transition-opacity ease-linear duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="transition-opacity ease-linear duration-300"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-black bg-opacity-25" />
      </TransitionChild>

      <div class="fixed inset-0 z-40 flex">
        <TransitionChild
          as="template"
          enter="transition ease-in-out duration-300 transform"
          enter-from="translate-x-full"
          enter-to="translate-x-0"
          leave="transition ease-in-out duration-300 transform"
          leave-from="translate-x-0"
          leave-to="translate-x-full"
        >
          <DialogPanel
            class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-6 shadow-xl"
          >
            <div class="flex items-center justify-between px-4">
              <h2 class="text-lg font-medium text-gray-900">Filters</h2>
              <button
                type="button"
                class="focus:ring-primary -mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2"
                @click="mobileFiltersOpen = false"
              >
                <span class="sr-only">Close menu</span>
                <XMarkIcon class="h-6 w-6" aria-hidden="true" />
              </button>
            </div>

            <!-- Filters -->
            <form class="mt-4">
              <Disclosure
                as="div"
                v-for="filter in filters"
                :key="filter.name"
                class="border-t border-gray-200 px-4 py-6"
                v-slot="{ open }"
              >
                <h3 class="-mx-2 -my-3 flow-root">
                  <DisclosureButton
                    class="flex w-full items-center justify-between bg-white px-2 py-3 text-sm text-gray-400"
                  >
                    <span class="font-medium text-gray-900">{{
                      filter.name
                    }}</span>
                    <span
                      v-if="getSelectedFilterCount(filter) > 0"
                      class="ml-1.5 rounded bg-gray-200 px-1.5 py-0.5 text-xs font-semibold tabular-nums text-gray-700"
                      >{{ getSelectedFilterCount(filter) }}</span
                    >
                    <span class="ml-6 flex items-center">
                      <ChevronDownIcon
                        :class="[
                          open ? '-rotate-180' : 'rotate-0',
                          'h-5 w-5 transform',
                        ]"
                        aria-hidden="true"
                      />
                    </span>
                  </DisclosureButton>
                </h3>
                <DisclosurePanel class="pt-6">
                  <div class="space-y-6">
                    <div
                      v-for="(option, optionIdx) in filter.options"
                      :key="option.id"
                      class="flex items-center"
                    >
                      <input
                        :id="`filter-mobile-${filter.id}-${optionIdx}`"
                        :name="`${filter.id}[]`"
                        :value="option.id"
                        type="checkbox"
                        :checked="selectedFilters.includes(option.id)"
                        @change="
                          handleFilterSelection(
                            option.id,
                            ($event.target as HTMLInputElement)?.checked,
                          )
                        "
                        class="text-primary focus:ring-primary h-4 w-4 rounded border-gray-300"
                      />
                      <label
                        :for="`filter-mobile-${filter.id}-${optionIdx}`"
                        class="ml-3 text-sm text-gray-500"
                        >{{ option.label }}</label
                      >
                    </div>
                  </div>
                </DisclosurePanel>
              </Disclosure>
              <div
                class="flex justify-center"
                v-if="selectedSortOption || selectedFilters.length > 0"
              >
                <button
                  class="border-primary text-primary my-8 w-44 rounded-md border"
                  @click="clickFilters"
                >
                  Reset all
                </button>
              </div>
            </form>
          </DialogPanel>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>

  <!-- Filters -->
  <section
    aria-labelledby="filter-heading"
    class="border-t border-gray-200 pt-6"
    v-if="items?.length"
  >
    <h2 id="filter-heading" class="sr-only">Product filters</h2>

    <div class="flex items-center justify-between">
      <Menu as="div" class="relative inline-block text-left">
        <div>
          <MenuButton
            class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
          >
            {{ selectedSortOption?.name || "Sort" }}
            <ChevronDownIcon
              class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
              aria-hidden="true"
            />
          </MenuButton>
        </div>

        <transition
          enter-active-class="transition ease-out duration-100"
          enter-from-class="transform opacity-0 scale-95"
          enter-to-class="transform opacity-100 scale-100"
          leave-active-class="transition ease-in duration-75"
          leave-from-class="transform opacity-100 scale-100"
          leave-to-class="transform opacity-0 scale-95"
        >
          <MenuItems
            class="absolute left-0 z-10 mt-2 w-40 origin-top-left rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
          >
            <div class="py-1">
              <MenuItem
                v-for="option in sortOptions"
                :key="option.value"
                v-slot="{ active }"
              >
                <span
                  :class="[
                    selectedSortOption?.value === option.value
                      ? 'bg-gray-100'
                      : '',
                    'block cursor-pointer px-4 py-2 text-sm font-medium text-gray-900',
                  ]"
                  @click="selectSortOption(option)"
                  >{{ option.name }}</span
                >
              </MenuItem>
            </div>
          </MenuItems>
        </transition>
      </Menu>

      <button
        type="button"
        class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden"
        @click="mobileFiltersOpen = true"
      >
        Filters
      </button>

      <div class="hidden items-center justify-between sm:flex">
        <div
          v-if="selectedSortOption || selectedFilters.length > 0"
          class="mr-8 flex hidden justify-center sm:flex"
        >
          <button
            class="text-primary flex items-center text-sm"
            @click="clickFilters"
          >
            <XCircleIcon class="mr-1 h-4 w-4" />
            Reset all
          </button>
        </div>
        <PopoverGroup class="flex sm:items-baseline sm:space-x-8">
          <Popover
            as="div"
            v-for="filter in filters"
            :key="filter.name"
            id="menu"
            class="relative inline-block text-left"
          >
            <div>
              <PopoverButton
                class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
              >
                <span>{{ filter.name }}</span>
                <span
                  v-if="getSelectedFilterCount(filter) > 0"
                  class="ml-1.5 rounded bg-gray-200 px-1.5 py-0.5 text-xs font-semibold tabular-nums text-gray-700"
                  >{{ getSelectedFilterCount(filter) }}</span
                >
                <ChevronDownIcon
                  class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                  aria-hidden="true"
                />
              </PopoverButton>
            </div>

            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <PopoverPanel
                class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
              >
                <form class="space-y-4">
                  <div
                    v-for="(option, optionIdx) in filter.options"
                    :key="option.id"
                    class="flex items-center"
                  >
                    <input
                      :id="`filter-${filter.id}-${optionIdx}`"
                      :name="`${filter.id}[]`"
                      :value="option.id"
                      :checked="selectedFilters.includes(option.id)"
                      @change="
                        handleFilterSelection(
                          option.id,
                          ($event.target as HTMLInputElement)?.checked,
                        )
                      "
                      type="checkbox"
                      class="text-primary focus:ring-primary h-4 w-4 rounded border-gray-300"
                    />
                    <label
                      :for="`filter-${filter.id}-${optionIdx}`"
                      class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >{{ option.label }}</label
                    >
                  </div>
                </form>
              </PopoverPanel>
            </transition>
          </Popover>
        </PopoverGroup>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts" generic="T extends CGSearchItem | Product">
import {
  Dialog,
  DialogPanel,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverGroup,
  PopoverPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { ChevronDownIcon, XCircleIcon } from "@heroicons/vue/20/solid";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import type { CGSearchItem, Product } from "../model";
import { ref, watch } from "vue";
import {
  getFiltersFromItems,
  getItemsWithFilters,
} from "../api/util/filter-util";
import type { FilterCategory, FilterOption } from "../api/util/filter-util";

interface SortOption {
  name: string;
  value: string;
}

const sortOptions = [
  { name: "Price: Low to High", value: "price-low-to-high" },
  { name: "Price: High to Low", value: "price-high-to-low" },
];

const selectedFilters = ref<string[]>([]);
const selectedSortOption = ref<SortOption | null>(null);

const props = defineProps<{
  items: T[];
}>();

// Filter when inputs change
watch(
  () => props.items,
  (newItems) => {
    filters.value = getFiltersFromItems(newItems, excludedFilters);
    filterItems();
  },
);

// Filter when selectd filters change
watch(
  selectedFilters,
  () => {
    filterItems();
  },
  { deep: true },
); // Deep watch is needed for arrays

// Filter when sort changes
watch(selectedSortOption, () => {
  filterItems();
});

const emit = defineEmits<{
  (event: "filteredItems", items: T[]): void;
}>();

const selectSortOption = (option: SortOption) => {
  selectedSortOption.value = option;
};

const mobileFiltersOpen = ref(false);

const excludedFilters = ["product-type"];
const filters = ref(getFiltersFromItems(props.items, excludedFilters));

const clickFilters = () => {
  selectedSortOption.value = null;
  selectedFilters.value = [];
};

const getSelectedFilterCount = (filter: FilterCategory): number => {
  let count: number = 0;
  filter.options.forEach((option: FilterOption) => {
    if (selectedFilters.value.includes(option.id)) count = count + 1;
  });
  return count;
};

const handleFilterSelection = (value: string, isChecked: Boolean) => {
  if (isChecked) {
    selectedFilters.value.push(value);
  } else {
    const index = selectedFilters.value.indexOf(value);
    if (index !== -1) {
      selectedFilters.value.splice(index, 1);
    }
  }
};

function filterItems() {
  let filteredItems = getItemsWithFilters(props.items, selectedFilters.value);
  if (selectedSortOption.value?.value === "price-low-to-high") {
    filteredItems.sort((a, b) => a.retailPrice - b.retailPrice);
  } else if (selectedSortOption.value?.value === "price-high-to-low") {
    filteredItems.sort((a, b) => b.retailPrice - a.retailPrice);
  }
  emit("filteredItems", [...filteredItems]); // Emit a new array to trigger update
}
</script>
