<template>
  <footer class="relative w-full bg-black" aria-labelledby="footer-heading">
    <div
      class="desktop:max-w-screen-2xl mx-auto max-w-7xl px-6 pb-8 pt-12 sm:pt-10 lg:px-8"
    >
      <div class="xl:grid xl:grid-cols-2 xl:gap-8">
        <div class="tablet:grid-cols-4 col-span-2 grid grid-cols-1 gap-8">
          <div v-for="collection in props.categories" :key="collection.name">
            <h3
              class="desktop:text-base text-sm font-semibold leading-6 text-gray-700 dark:text-white"
            >
              {{ collection.name }}
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li
                v-for="subCollection in collection.children"
                :key="subCollection.name"
              >
                <a
                  :href="subCollection.path"
                  class="desktop:text-base text-sm leading-6 text-gray-400 hover:text-gray-600"
                  >{{ subCollection.name }}</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="desktop:text-base text-sm font-semibold leading-6 text-gray-700 dark:text-white"
            >
              More
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li v-for="page in staticPages">
                <a
                  :href="`/${page.href}/`"
                  class="desktop:text-base text-sm leading-6 text-gray-400 hover:text-gray-600"
                  >{{ page.name }}</a
                >
              </li>
              <li>
                <a
                  :href="`/contact/`"
                  class="desktop:text-base text-sm leading-6 text-gray-400 hover:text-gray-600"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <!-- <div>
            <h3
              class="desktop:text-base text-sm font-semibold leading-6 text-gray-700 dark:text-white"
            >
              Subscribe to our newsletter
            </h3>
            <p class="desktop:text-base mt-2 text-sm leading-6 text-gray-400">
              The latest news, articles, and resources, sent to your inbox
              weekly.
            </p>
            <form class="mt-6 sm:flex sm:max-w-md">
              <label for="email-address-newsletter" class="sr-only"
                >Email address</label
              >
              <input
                type="email"
                name="email-address-newsletter"
                id="email-address-newsletter"
                autocomplete="email"
                required
                class="focus:ring-primary w-full min-w-0 appearance-none rounded-md border-0 bg-white px-3 py-1.5 text-base text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:w-64 sm:text-sm sm:leading-6 xl:w-full"
                placeholder="Enter your email"
              />
              <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
                <button
                  type="submit"
                  class="desktop:text-base bg-primary hover:bg-primary focus-visible:outline-primary flex w-full items-center justify-center rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div> -->
        </div>
      </div>
      <div
        class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 md:flex md:items-center md:justify-between lg:mt-24"
      >
        <div class="flex space-x-6 md:order-2">
          <a
            v-for="item in social"
            :key="item.name"
            :href="item.href"
            class="text-gray-400 hover:text-gray-500"
            target="_blank"
          >
            <span class="sr-only">{{ item.name }}</span>
            <component
              :is="item.icon"
              class="desktop:w-8 desktop:h-8 h-6 w-6"
              aria-hidden="true"
            />
          </a>
        </div>
        <p
          class="desktop:text-base mt-8 text-xs leading-5 text-gray-500 md:order-1 md:mt-0"
        >
          &copy; 2023 Colour Graphics. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from "vue";
import type { PropType } from "vue";
import type { Collection, Product } from "../model";
import { StaticPage } from "../api/directus";
import { computed } from "vue";

const props = defineProps({
  categories: {
    type: Object as PropType<Collection[]>,
    default: [],
  },
  products: {
    type: Object as PropType<Product[]>,
    default: [],
  },
  staticPagesList: {
    type: Object as PropType<StaticPage[]>,
    default: [],
  },
});

const social = [
  {
    name: "Facebook",
    href: "https://www.facebook.com/colourgraphics",
    icon: defineAsyncComponent(() => import("~icons/mdi/facebook")),
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/colourgraphics",
    icon: defineAsyncComponent(() => import("~icons/mdi/instagram")),
  },
  {
    name: "Twitter",
    href: "https://twitter.com/colourgraphics",
    icon: defineAsyncComponent(() => import("~icons/mdi/twitter")),
  },
];

const staticPages = computed(() => {
  const sp = props.staticPagesList.map((page) => {
    return {
      name: page.title,
      href: page.slug,
    };
  });
  return [
    {
      name: "Blog",
      href: "blog/1",
    },
  ].concat(sp);
});

defineExpose({
  collections: props.categories,
  social,
});
</script>
