<template>
  <Disclosure
    as="nav"
    class="tablet:top-10 fixed top-0 z-10 mx-auto w-full max-w-[1920px] bg-white"
    v-slot="{ open }"
  >
    <div class="w-full">
      <div class="flex flex-col">
        <div
          class="laptop:px-16 desktop:px-16 widescreen:px-0 grid h-16 grid-cols-12 justify-between px-4 md:px-10"
        >
          <div
            class="tablet:col-span-8 col-span-12 flex w-full items-center justify-between"
          >
            <div class="laptop:hidden flex items-center">
              <!-- Mobile menu button -->
              <DisclosureButton
                class="focus:ring-primary inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset"
              >
                <span class="sr-only">Open main menu</span>
                <Bars3Icon
                  v-if="!open"
                  class="tablet:h-10 tablet:w-10 block h-6 w-6"
                  aria-hidden="true"
                />
                <XMarkIcon
                  v-else
                  class="tablet:h-10 tablet:w-10 block h-6 w-6"
                  aria-hidden="true"
                />
              </DisclosureButton>
            </div>
            <div class="flex w-full items-center justify-center">
              <a href="/" class="flex flex-shrink-0 items-center">
                <img
                  src="/assets/img/cg-logo.svg"
                  class="block h-10 w-auto lg:hidden"
                />
                <img
                  src="/assets/img/cg-logo.svg"
                  class="hidden h-8 w-auto lg:block"
                />
              </a>
              <div class="hidden w-full md:ml-6 md:flex md:space-x-8">
                <div class="w-full">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                    >
                      <MagnifyingGlassIcon class="h-5 w-5 text-gray-400" />
                    </div>
                    <input
                      name="search"
                      class="focus:ring-primary block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                      placeholder="Search"
                      type="search"
                      readonly
                      @click="showSearchModal = true"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tablet:hidden flex items-center justify-end gap-x-4 text-gray-600"
            >
              <MagnifyingGlassIcon
                class="hover:text-primary ml-2 h-5 w-5 cursor-pointer"
                @click="showSearchModal = true"
              />
              <a v-if="!activeCustomer" href="/auth/signin"
                ><UserIcon class="hover:text-primary ml-2 h-5 w-5"
              /></a>
              <ArrowRightOnRectangleIcon
                v-else="!activeCustomer"
                @click="logoutAndGetActiveOrder()"
                class="ml-2 h-5 w-5"
              />
              <div class="relative">
                <ShoppingBagIcon
                  class="hover:text-primary ml-2 h-5 w-5"
                  @click="isShowingCart = !isShowingCart"
                />
                <div
                  v-if="activeOrder?.totalQuantity"
                  class="text-primary absolute -left-1 -top-2.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-pink-200 text-xs font-bold"
                >
                  {{ activeOrder?.totalQuantity }}
                </div>
              </div>
            </div>
          </div>
          <div
            class="tablet:col-span-4 tablet:ml-4 tablet:flex tablet:gap-x-4 tablet:items-center tablet:justify-end hidden"
          >
            <div v-if="!loadingActiveCustomer">
              <a
                class="hover:text-primary flex cursor-pointer items-center gap-x-1 text-gray-600"
                href="/auth/signin"
                v-if="!activeCustomer"
              >
                <UserIcon class="block h-5 w-5" />
                Sign in</a
              >
              <p
                v-else
                class="hover:text-primary flex cursor-pointer items-center gap-x-1 text-gray-600"
                @click="logout()"
              >
                <ArrowRightOnRectangleIcon class="block h-5 w-5" /> Logout
              </p>
            </div>

            <span
              v-if="!loadingActiveCustomer"
              class="mx-2 h-6 w-px bg-gray-200"
              aria-hidden="true"
            />
            <a
              @click="isShowingCart = !isShowingCart"
              class="hover:text-primary relative flex cursor-pointer items-center gap-x-1 text-gray-600"
            >
              <ShoppingBagIcon class="block h-5 w-5" />
              Basket
              <div
                v-if="activeOrder?.totalQuantity"
                class="text-primary absolute -left-2.5 -top-2.5 inline-flex h-5 w-5 items-center justify-center rounded-full bg-pink-200 text-xs font-bold"
              >
                {{ activeOrder?.totalQuantity }}
              </div>
            </a>
          </div>
        </div>
        <Disclosure as="nav" class="bg-white" v-slot="{ open }">
          <div
            class="laptop:flex laptop:x-16 hidden h-16 justify-between px-4 md:px-16"
          >
            <div class="flex w-full">
              <div
                class="laptop:flex laptop:justify-between laptop:w-full hidden"
              >
                <Popover
                  v-for="(collection, index) in collections"
                  :key="index"
                  class="hidden outline-0 md:flex md:items-center"
                  v-slot="{ open, close }"
                >
                  <PopoverButton
                    @mouseover="(e) => debounceHoverPopover(e, open)"
                    @mouseleave="closePopover(close)"
                    :class="
                      open ? 'border-b-2 border-solid border-pink-500' : ''
                    "
                    class="laptop:text-base inline-flex h-full items-center px-1 pt-1 text-sm font-medium text-gray-500 outline-0"
                  >
                    <a
                      href="#"
                      :class="open ? 'hover:text-primary text-primary' : ''"
                      class="inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-500 hover:text-gray-700"
                      >{{ collection.name }}</a
                    >
                  </PopoverButton>

                  <transition
                    enter-active-class="transition ease-out duration-200"
                    enter-from-class="opacity-0 -translate-y-1"
                    enter-to-class="opacity-100 translate-y-0"
                    leave-active-class="transition ease-in duration-150"
                    leave-from-class="opacity-100 translate-y-0"
                    leave-to-class="opacity-0 -translate-y-1"
                  >
                    <PopoverPanel
                      @mouseover="(e) => debounceHoverPopover(e, open)"
                      @mouseleave="closePopover(close)"
                      class="tablet:top-[128px] z-5 absolute left-1/2 top-[34px] h-[60vh] w-[100vw] -translate-x-1/2 overflow-y-auto bg-white shadow-lg ring-1 ring-gray-900/5"
                    >
                      <div
                        class="mx-auto max-w-[1920px] grid-cols-1 gap-2 py-0 sm:columns-2 sm:gap-x-6 sm:gap-y-0 sm:py-0 md:columns-3 lg:columns-5 lg:px-14"
                      >
                        <div
                          v-for="subCollection in collection.children"
                          :key="subCollection.name"
                          class="group relative -mx-3 flex break-inside-avoid rounded-lg p-3 text-sm leading-6 sm:flex-col sm:p-6"
                        >
                          <a
                            :href="subCollection.path"
                            class="pb-2 font-semibold text-gray-900"
                          >
                            {{ subCollection.name }}
                          </a>
                          <ul class="mt-1 flex flex-col gap-y-2">
                            <li
                              v-if="
                                subCollection.children != undefined &&
                                subCollection.children.length > 0
                              "
                              v-for="(
                                subSubCollection, index
                              ) in subCollection.children"
                              :key="subSubCollection.name"
                            >
                              <a :href="subSubCollection.path">
                                {{ subSubCollection.name }}</a
                              >
                            </li>
                            <li
                              v-else
                              v-for="(item, index) in subCollection
                                .productVariants.items"
                              :key="item.product.id"
                            >
                              <a
                                :href="
                                  getProductById(item.product.id.toString())
                                    ?.path
                                "
                              >
                                {{
                                  getProductById(item.product.id.toString())
                                    ?.name
                                }}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </PopoverPanel>
                  </transition>
                </Popover>
              </div>
            </div>
          </div>

          <DisclosurePanel class="md:hidden">
            <div class="space-y-1 pb-3 pt-2">
              <DisclosureButton
                v-for="(collection, index) in collections"
                :key="index"
                as="a"
                href="#"
                class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700 sm:pl-5 sm:pr-6"
                >{{ collection }}</DisclosureButton
              >
            </div>
          </DisclosurePanel>
        </Disclosure>
      </div>
    </div>

    <DisclosurePanel class="laptop:hidden h-screen overflow-y-scroll">
      <div
        class="mx-auto mb-40 grid-cols-1 gap-4 px-4 pb-9 pt-2 sm:py-10 lg:px-8"
      >
        <template
          v-for="collection in collections"
          class="break-inside-avoid"
          :key="collection.name"
        >
          <Disclosure v-slot="{ open }">
            <DisclosureButton
              class="my-4 flex w-full rounded-lg px-4 py-2 text-left text-sm font-bold text-gray-500 hover:bg-pink-100 focus:outline-none"
            >
              <ChevronRightIcon
                :class="open ? 'rotate-90 transform' : ''"
                class="mr-3 h-5 w-5 text-pink-500"
              />
              <span>{{ collection.name }}</span>
            </DisclosureButton>
            <DisclosurePanel
              as="ul"
              class="break-inside-avoid px-2 text-sm text-black"
            >
              <li
                v-for="subCollection in collection.children"
                :key="subCollection.name"
                class="px-4 py-2"
              >
                <a
                  v-if="
                    !subCollection.children?.length &&
                    !subCollection.productVariants.items.length
                  "
                  :href="subCollection.path"
                  class="font-semibold"
                >
                  {{ subCollection.name }}
                </a>
                <Disclosure v-else v-slot="{ open }">
                  <DisclosureButton
                    class="flex w-full rounded-lg px-4 py-2 text-left text-sm font-semibold hover:bg-pink-100 focus:outline-none"
                  >
                    <ChevronRightIcon
                      :class="open ? 'rotate-90 transform' : ''"
                      class="mr-3 h-5 w-5 text-pink-500"
                    />
                    <span>{{ subCollection.name }}</span>
                  </DisclosureButton>
                  <DisclosurePanel
                    as="ul"
                    class="break-inside-avoid px-2 text-sm"
                  >
                    <div v-if="subCollection.children?.length">
                      <li
                        v-for="subSubCollection in subCollection.children"
                        class="px-4 py-2"
                      >
                        <a :href="subSubCollection.path">{{
                          subSubCollection.name
                        }}</a>
                      </li>
                    </div>
                    <div v-else>
                      <li
                        v-for="item in subCollection.productVariants.items"
                        :key="item.product.id"
                        class="px-4 py-2"
                      >
                        <a
                          :href="
                            getProductById(item.product.id.toString())?.path
                          "
                        >
                          {{ getProductById(item.product.id.toString())?.name }}
                        </a>
                      </li>
                    </div>
                  </DisclosurePanel>
                </Disclosure>
              </li>
            </DisclosurePanel>
          </Disclosure>
        </template>
      </div>
    </DisclosurePanel>
  </Disclosure>
  <TransitionRoot
    :show="isShowingCart"
    enter="transition-opacity duration-75"
    enter-from="opacity-0"
    enter-to="opacity-100"
    leave="transition-opacity duration-150"
    leave-from="opacity-100"
    leave-to="opacity-0"
  >
    <SlideOverCart
      @close-slide-over-cart="isShowingCart = false"
      v-if="isShowingCart"
      :open="isShowingCart"
    />
  </TransitionRoot>
  <Notification />
  <SearchModal :open="showSearchModal" @closed="showSearchModal = false" />
</template>

<script setup lang="ts">
import debounce from "debounce";
import { type PropType, ref, computed, onMounted } from "vue";
import Notification from "@components/global/Notification.vue";
import SlideOverCart from "@components/SlideOverCart.vue";
import {
  TransitionRoot,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Popover,
  PopoverButton,
  PopoverPanel,
} from "@headlessui/vue";
import {
  ChevronRightIcon,
  Bars3Icon,
  XMarkIcon,
  UserIcon,
  ShoppingBagIcon,
  MagnifyingGlassIcon,
  ArrowRightOnRectangleIcon,
} from "@heroicons/vue/24/outline";
import type { Collection, Product } from "../model";
import { useActiveCustomer } from "../composables/useActiveCustomer";
import { useActiveOrder } from "../composables/useActiveOrder";
import { sortByPopularityScore } from "../utils/filters";

const { activeOrder, getActiveOrder } = useActiveOrder();
const {
  activeCustomer,
  loading: loadingActiveCustomer,
  logout,
} = useActiveCustomer();

const popoverIsOpen = ref(false);

const showSearchModal = ref(false);

const hoverPopover = debounce(
  (e: any, open: boolean): void => {
    if (popoverIsOpen.value === true) {
      if (!open) {
        e.target.click();
      }
    }
  },
  popoverIsOpen.value ? 0 : 200,
);

const debounceHoverPopover = (e: any, open: boolean) => {
  popoverIsOpen.value = true;
  hoverPopover(e, open);
};

const closePopover = (close: any): void => {
  popoverIsOpen.value = false;
  debouncedClose(close);
};

const debouncedClose = debounce((close: any) => {
  if (popoverIsOpen.value === false) {
    close();
  }
}, 50);

const isShowingCart = ref(false);

const props = defineProps({
  categories: {
    type: Object as PropType<Collection[]>,
    default: [],
  },
  products: {
    type: Object as PropType<Product[]>,
    default: [],
  },
});

// sort the products by popularity for collections
props.categories.forEach((category) => {
  category.children?.forEach((child) => {
    if (child.productVariants && child.productVariants.items) {
      child.productVariants.items.sort(sortByPopularityScore);
    }
  });
});

const collections = computed(() =>
  props.categories && props.categories.length > 0
    ? props.categories.slice(0, 10)
    : [],
);

if (Boolean(props.products)) {
  collections.value.unshift({
    name: "All Products A-Z",
    path: "/products",
    description: "All Products listed from A-Z",
    children: [
      ...props.products
        .map((p) => p.name[0])
        .reduce((unique: string[], item: string) => {
          return unique.includes(item) ? unique : [...unique, item];
        }, [])
        .sort((a: string, b: string) => a.localeCompare(b))
        .map((letter) => ({
          name: letter,
          children: [
            ...props.products
              .filter((p) => p.name[0] == letter)
              .map((p) => ({
                name: p.name,
                description: p.description,
                id: p.id,
                parent: { name: "All Products A-Z" },
                path: p.path,
                productVariants: {
                  items: [{ product: { id: p.id } }],
                },
                slug: p.slug,
              })),
          ],
        })),
    ],
  } as any);
}

const logoutAndGetActiveOrder = async () => {
  await logout();
  await getActiveOrder();
};

const getProductById = (id: string) => props.products?.find((p) => p.id == id);
</script>
