<template>
  <TransitionRoot as="template" :show="open">
    <Dialog as="div" class="relative z-10">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        />
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
        >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
            >
              <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
                <button
                  type="button"
                  class="focus:ring-primary rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2"
                >
                  <span class="sr-only">Close</span>
                  <XMarkIcon
                    @click="closeModal()"
                    class="h-6 w-6"
                    aria-hidden="true"
                  />
                </button>
              </div>
              <div
                class="flex min-h-full flex-1 flex-col justify-center px-3 py-6"
              >
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                  <img
                    class="mx-auto h-10 w-auto"
                    src="/assets/img/cg-logo.svg"
                    alt="Your Company"
                  />
                  <h2
                    v-if="!isForgotPassword"
                    class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
                  >
                    Sign in to your account
                  </h2>
                  <h2
                    v-else
                    class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
                  >
                    Forgot password?
                  </h2>
                </div>

                <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                  <div class="space-y-6">
                    <!-- FIXME temporary notification -->
                    <small
                      >Please note. The website has been updated. You may need
                      to reset your password using the "Forgot password?" link
                      below</small
                    >
                    <br />
                    <div>
                      <label
                        for="email"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Email address</label
                      >
                      <div class="mt-2 flex">
                        <input
                          id="email"
                          name="email"
                          type="email"
                          autocomplete="email"
                          v-model="userInfo.email"
                          class="focus:ring-primary-300 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                        />
                      </div>
                    </div>

                    <div v-if="!isForgotPassword">
                      <div class="flex items-center justify-between">
                        <label
                          for="password"
                          class="block text-sm font-medium leading-6 text-gray-900"
                          >Password</label
                        >
                        <div class="text-sm">
                          <p
                            class="text-primary hover:text-primary-300 cursor-pointer font-semibold"
                            @click="isForgotPassword = !isForgotPassword"
                          >
                            Forgot password?
                          </p>
                        </div>
                      </div>
                      <div class="mt-2">
                        <input
                          id="password"
                          name="password"
                          type="password"
                          autocomplete="current-password"
                          v-model="userInfo.password"
                          class="focus:ring-primary block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                        />
                      </div>
                      <span
                        v-if="loginError"
                        class="text-center text-xs text-red-500"
                        >{{ loginError.message }}</span
                      >
                    </div>

                    <div v-if="!isForgotPassword">
                      <Button
                        text="Sign in"
                        @click="loginAndClose"
                        :loading="loginLoading"
                      ></Button>
                    </div>

                    <div v-if="isForgotPassword">
                      <Button
                        @click="requestPasswordReset"
                        text="Send email"
                        :loading="passwordResetLoading"
                        class="mb-4"
                        :disabled="!validateEmail(userInfo.email)"
                      ></Button>
                      <p
                        class="text-primary text-center text-sm"
                        v-if="passwordResetRequestSuccess"
                      >
                        Password reset email sent. Please check your inbox and
                        follow the instructions to reset your password.
                      </p>
                      <p
                        class="text-center text-xs text-red-500"
                        v-if="errors.reset"
                      >
                        {{ errors.reset }}
                      </p>
                    </div>
                  </div>

                  <div class="flex justify-around">
                    <p
                      v-if="isForgotPassword"
                      class="text-primary hover:text-primary-300 mt-6 cursor-pointer text-center text-sm font-semibold"
                      @click="isForgotPassword = !isForgotPassword"
                    >
                      Back to Sign in
                    </p>
                    <p
                      class="text-primary hover:text-primary-300 mt-6 cursor-pointer text-center text-sm font-semibold"
                      @click="closeModal"
                    >
                      Continue as guest
                    </p>
                  </div>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  Dialog,
  DialogPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import { reactive } from "vue";
import { validateEmail } from "../utils/formValidation";
import { useActiveCustomer } from "../composables/useActiveCustomer";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { activeCustomer } from "src/store";

interface ErrorObject {
  email: string;
  reset: string;
}

const { login, loading: loginLoading, loginError } = useActiveCustomer();

const loginAndClose = async () => {
  await login({
    password: userInfo.password,
    username: userInfo.email,
    rememberMe: true,
  });
  if (activeCustomer.value) {
    emit("logged-in");
    closeModal();
  }
};

const isForgotPassword = ref<Boolean>(false);

const userInfo = reactive({
  email: "",
  password: "",
  code: "",
});

const emit = defineEmits<{
  (event: "closed"): void;
  (event: "logged-in"): void;
}>();

const open = ref(true);
const passwordResetLoading = ref(false);
const error = ref("");
const errors = reactive<ErrorObject>({
  email: "",
  reset: "",
});
const passwordResetRequestSuccess = ref(false);

const closeModal = () => {
  open.value = false;
  emit("closed");
};

const requestPasswordReset = async () => {
  passwordResetRequestSuccess.value = false;
  clearErrors();
  if (!validateEmail(userInfo.email)) {
    error.value = "Invalid Email";
  } else {
    try {
      passwordResetLoading.value = true;
      await vendureClient.RequestPasswordReset({
        emailAddress: userInfo.email,
      });
      passwordResetRequestSuccess.value = true;
    } catch (e: any) {
      errors.reset = e.message;
    } finally {
      passwordResetLoading.value = false;
    }
  }
};

const clearErrors = () => {
  for (const key in errors) {
    if (Object.prototype.hasOwnProperty.call(errors, key)) {
      errors[key as keyof ErrorObject] = "";
    }
  }
};
</script>
