<template>
  <div>
    <!-- Loading -->
    <div v-if="loadingOrder" class="flex">
      <spinner width="20" height="20" class="!my-40 mx-auto" />
    </div>

    <!-- Error -->
    <div v-else-if="error" class="flex">
      <p class="mx-auto my-36">{{ error }}</p>
    </div>

    <!-- Order -->
    <div
      class="mx-auto max-w-2xl pb-24 pt-8 sm:px-6 sm:pt-16 lg:max-w-7xl lg:px-8"
      v-else-if="!loadingOrder && order"
    >
      <h1 class="text-sm font-medium">
        Order number -
        <span class="text-primary">{{ order.code }}</span>
      </h1>
      <p
        class="mb-8 mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        {{ needsPayment ? "Awaiting Payment" : "Your Order" }}
      </p>

      <!-- Payment button -->
      <div v-if="needsPayment">
        <Button
          @click="createMolliePaymentIntentForOrder"
          :loading="paymentLoading"
          class="my-8 lg:ml-0 lg:w-1/3"
          :text="`Go to Payment (${$filters.price(amountToPay)})`"
        ></Button>
      </div>

      <!-- Products -->
      <section aria-labelledby="products-heading" class="mt-6">
        <h2 id="products-heading" class="sr-only">Products purchased</h2>

        <div class="space-y-8">
          <div
            v-for="line in order.lines"
            :key="line.id"
            class="border-b border-t border-gray-200 bg-white shadow-sm sm:rounded-lg sm:border"
          >
            <div
              class="px-4 py-6 sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:p-8"
            >
              <div class="sm:flex lg:col-span-7">
                <div
                  class="aspect-h-1 aspect-w-1 sm:aspect-none w-full flex-shrink-0 overflow-hidden rounded-lg sm:h-40 sm:w-40"
                >
                  <img
                    :src="line?.productVariant?.product?.featuredAsset?.preview"
                    :alt="line?.productVariant?.product?.name"
                    class="h-full w-full object-cover object-center sm:h-full sm:w-full"
                  />
                </div>

                <div class="mt-6 sm:ml-6 sm:mt-0">
                  <h3 class="text-base font-medium text-gray-900">
                    <p class="font-semibold text-gray-900">
                      {{ line?.productVariant?.product?.name }}
                    </p>
                  </h3>
                  <p class="my-2 text-sm font-medium text-gray-900">
                    {{ $filters.price(line?.unitPriceWithTax) }}
                  </p>
                  <div
                    v-for="(option, i) in line?.selectedConfiguratorOptions"
                    :key="i"
                    class="flex text-gray-500"
                  >
                    <small class="font-semibold"
                      >{{ option.optionGroupName }}:</small
                    >
                    <small class="ml-2">{{ option.optionValue }}</small>
                  </div>
                </div>
              </div>

              <div class="mt-6 lg:col-span-5 lg:mt-0">
                <dl class="grid grid-cols-2 gap-x-6 text-sm">
                  <div :class="!allowArtworkUpload && 'col-span-2 text-right'">
                    <dt class="font-bold text-gray-900">Quantity</dt>
                    <dd class="mt-3 text-gray-500">
                      <span class="block">{{ line?.quantity }}</span>
                    </dd>
                  </div>
                  <div v-if="allowArtworkUpload">
                    <dt class="font-bold">
                      <UploadArtworkButton
                        :order-code="order.code || ''"
                        :order-line-number="+line?.id"
                        :variant-name="line?.productVariant?.name || ''"
                        @uploaded="addImageUploaded"
                      />
                      <div
                        v-for="file in getUploadedImageForLine(
                          line.id.toString(),
                        )"
                        class="mt-2 flex items-center justify-between"
                      >
                        <a
                          :href="file.file.url"
                          class="text-primary max-w-[80%] truncate font-thin"
                          target="_blank"
                          >{{ file.file.fileName }}</a
                        >
                        <TrashIcon
                          @click="removeUploadedFile(file)"
                          class="text-primary ml-3 h-5 w-5 cursor-pointer"
                        />
                      </div>
                    </dt>
                    <dd class="mt-3 space-y-3 text-gray-500"></dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Done Uploading Button -->
      <Button
        @click="transitionToAwaitingPrePress"
        :loading="transitionLoading"
        v-if="showDoneUploadingArtwork"
        class="my-8 lg:mr-0 lg:w-1/5"
        text="Click here after uploading all files"
      ></Button>

      <!-- Order state bar -->
      <div class="border-t border-gray-200 px-4 py-6 sm:px-6 lg:p-8">
        <h4 class="sr-only">Status</h4>
        <div class="mt-6" aria-hidden="true">
          <div class="overflow-hidden rounded-full bg-gray-200">
            <div
              class="bg-primary h-2 rounded-full"
              :style="{ width: `calc((${orderStep} * 2 + 1) / 8 * 100%)` }"
            />
          </div>
          <div
            class="mt-6 hidden grid-cols-4 text-sm font-medium text-gray-600 sm:grid"
          >
            <div class="text-primary">Awaiting Payment</div>
            <div :class="[orderStep > 0 ? 'text-primary' : '', 'text-center']">
              Awaiting Artwork
            </div>
            <div :class="[orderStep > 1 ? 'text-primary' : '', 'text-center']">
              Processing
            </div>
            <div :class="[orderStep > 2 ? 'text-primary' : '', 'text-right']">
              Shipped
            </div>
          </div>
        </div>
      </div>

      <!-- Billing -->
      <section aria-labelledby="summary-heading" class="mt-16">
        <h2 id="summary-heading text-primary" class="sr-only">
          Billing Summary
        </h2>

        <div
          class="bg-gray-50 px-4 py-6 sm:rounded-lg sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8 lg:py-8"
        >
          <dl
            v-if="!isAnonymous"
            class="grid grid-cols-2 gap-6 text-sm sm:grid-cols-2 md:gap-x-8 lg:col-span-7"
          >
            <div>
              <dt class="text-primary font-medium text-gray-900">
                Shipping Address
              </dt>
              <dd class="mt-3 text-gray-500">
                <span class="block">{{ order.shippingAddress?.fullName }}</span>
                <span class="block">{{
                  order.shippingAddress?.streetLine1
                }}</span>
                <span class="block"
                  >{{ order.shippingAddress?.country }},
                  {{ order.shippingAddress?.city }}</span
                >
              </dd>
            </div>
            <div v-if="order.billingAddress?.postalCode">
              <dt class="text-primary font-medium text-gray-900">
                Billing Address
              </dt>
              <dd class="mt-3 text-gray-500">
                <span class="block">{{ order.billingAddress?.fullName }}</span>
                <span class="block">{{
                  order.billingAddress?.streetLine1
                }}</span>
                <span class="block"
                  >{{ order.billingAddress?.country }},
                  {{ order.billingAddress?.city }}</span
                >
              </dd>
            </div>
          </dl>

          <dl
            class="mt-8 text-sm lg:mt-0"
            :class="isAnonymous ? 'lg:col-span-12' : 'lg:col-span-5'"
          >
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Subtotal</dt>
              <dd class="font-medium text-gray-900">
                {{ $filters.price(order.subTotalWithTax) }}
              </dd>
            </div>
            <div class="flex items-center justify-between py-4">
              <dt class="text-gray-600">Shipping</dt>
              <dd class="font-medium text-gray-900">
                {{ $filters.price(order.shippingWithTax) }}
              </dd>
            </div>
            <div
              class="flex items-center justify-between border-t border-gray-200 pt-4"
            >
              <dt class="font-medium text-gray-500">Total Excl. Tax</dt>
              <dd class="font-medium text-gray-500">
                {{ $filters.price(order.total) }}
              </dd>
            </div>
            <div class="flex items-center justify-between pt-4">
              <dt class="font-medium text-gray-900">Total</dt>
              <dd class="text-primary font-medium">
                {{ $filters.price(order.totalWithTax) }}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import Spinner from "@components/global/Spinner.vue";
import { onMounted, computed } from "vue";
import { OrderFieldsFragment, ErrorResult } from "../api/graphql/generated";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { watch } from "vue";
import * as filestack from "filestack-js";
import { InboxArrowDownIcon, TrashIcon } from "@heroicons/vue/24/outline";

interface uploadedType {
  orderLineId: string;
  file: {
    fileName: string;
    url: string;
    handle: string;
  };
}

const loadingOrder = ref(true);
const transitionLoading = ref(false);
const paymentLoading = ref(false);
const error = ref("");
const orderStep = ref(4);

const order = ref<OrderFieldsFragment | undefined>(undefined);

const allowArtworkUpload = computed(() => {
  const statesToAllowUpload = [
    "Draft",
    "ArrangingPayment",
    "AwaitingArtwork",
    "PaymentSettled",
    "PaymentAuthorized",
  ];
  if (order.value) return statesToAllowUpload.includes(order?.value?.state);
});

/**
 * The 'Done uploading' button should only be shown when an order has been paid for
 */
const showDoneUploadingArtwork = computed(() => {
  const statesToAllowFinalizingUpload = [
    "AwaitingArtwork",
    "PaymentSettled",
    "PaymentAuthorized",
  ];
  if (order.value)
    return statesToAllowFinalizingUpload.includes(order?.value?.state);
});

// Determine if payment is required
const needsPayment = computed(
  () =>
    order.value?.state === "ArrangingPayment" ||
    order.value?.state === "AddingItems" ||
    order.value?.state === "ArrangingAdditionalPayment",
);

// Amount that still has to be paid
const amountToPay = computed(() => {
  if (!order.value) {
    return 0;
  }
  const settledPayments = order.value?.payments?.filter(
    (payment) => payment.state === "Settled",
  );
  if (!settledPayments) {
    // No payments made yet, so the full amount is still required
    return order.value?.totalWithTax;
  }
  const totalPaid = settledPayments.reduce(
    (acc, payment) => acc + payment.amount,
    0,
  );
  return order.value?.totalWithTax - totalPaid;
});

const filesUploaded = ref<uploadedType[]>([]);
// The order code from the url
const orderCodeParameter = ref<string | undefined>();
// The email from the url
const emailParameter = ref<string | undefined>();

onMounted(async () => {
  const searchParams = new URLSearchParams(window.location.search);
  orderCodeParameter.value = searchParams.get("code") || "";
  emailParameter.value = searchParams.get("email") || "";
  // Load anonymous order first, so we have something to display
  // Then try to pollOrderByCode and replace the anonymous order.
  // Display error only if both have failed
  loadingOrder.value = true;
  try {
    const anonymousOrderResult = await vendureClient
      .AnonymizedOrder({
        code: orderCodeParameter.value,
        email: emailParameter.value,
      })
      .catch((e) => {
        // Do nothing, continue with polling order
      });
    if (anonymousOrderResult) {
      // Show anonymous order first
      loadingOrder.value = false;
      order.value = anonymousOrderResult.data.anonymizedOrder;
    }
    // Now try to replace the anonymous order with the full order
    const polledOrder = await pollOrder(orderCodeParameter.value, 10);
    if (!polledOrder && !order.value) {
      // Throw error if we couldn't load anonymous order or poll order
      throw Error(`Unable to load order '${orderCodeParameter.value}'`);
    }
    if (polledOrder) {
      // Replace the anonymous order with the full order
      order.value = polledOrder;
    }
  } catch (e: any) {
    error.value = e.message ?? e.response.errors[0]?.message;
  } finally {
    loadingOrder.value = false;
  }
  if (order.value?.state === "AddingItems") {
    error.value = `Failed to process your payment. Please contact us, and mention order number '${order.value.code}' `;
  }
  if (order.value?.state === "PaymentSettled") {
    // Register as sale
    const items = order.value.lines.map((line) => ({
      item_id: line.productVariant.sku,
      item_name: line.productVariant.name,
      quantity: line.quantity,
      price: line.productVariant.priceWithTax / 100,
    }));
    (window as any | undefined)?.dataLayer?.push({
      event: "purchase",
      ecommerce: {
        transaction_id: order.value.id,
        value: (order.value.totalWithTax / 100).toFixed(2),
        currency: "GBP",
        items,
      },
    });
  }
});

watch(order, (newOrder) => {
  // Set the step for the order status bar
  switch (order?.value?.state) {
    case "Draft":
      orderStep.value = 0;
      break;
    case "ArrangingPayment":
      orderStep.value = 0;
      break;
    case "PaymentSettled":
      orderStep.value = 1;
      break;
    case "AwaitingArtwork":
      orderStep.value = 1;
      break;
    case "AwaitingPrepress":
      orderStep.value = 2;
      break;
    case "InProduction":
      orderStep.value = 2;
      break;
    case "AttentionRequired":
      orderStep.value = 2;
      break;
    case "AwaitingCollection":
      orderStep.value = 4;
      break;
    case "Shipped":
      orderStep.value = 4;
      break;
    case "Delivered":
      orderStep.value = 4;
      break;
    case "Cancelled":
      orderStep.value = 4;
      break;
    default:
      orderStep.value = 0;
  }
});

const isAnonymous = computed(() => {
  return !order.value?.customer;
});

/**
 * This will only succeed when an order has been recently placed
 */
async function pollOrder(
  code: string,
  pollFor: number,
): Promise<OrderFieldsFragment | undefined> {
  let pollingCount = 0;
  while (pollingCount <= pollFor) {
    if (pollingCount > pollFor) {
      throw Error(`Order not found after polling ${pollFor} times`);
    }
    try {
      const {
        data: { orderByCode: order },
      } = await vendureClient.GetOrderByCode({ code });
      if (order) {
        return order;
      }
    } catch (e) {
      // Do nothing, keep polling, because it could be that an order isn't settled yet
    }
    await new Promise((resolve) => setTimeout(resolve, 1000));
    pollingCount++;
  }
}

async function createMolliePaymentIntentForOrder(): Promise<void> {
  if (!order.value?.code) {
    throw Error("No order present to start payment for");
  }
  if (!emailParameter.value) {
    throw Error(
      "No customer present on order. Can not start payment for an order without a customer",
    );
  }
  try {
    paymentLoading.value = true;
    const {
      data: { createMolliePaymentIntentForOrder: checkoutUrl },
    } = await vendureClient.CreateMolliePaymentIntentForOrder({
      input: {
        orderCode: order.value.code,
        paymentMethodCode: "mollie-payment-method",
        redirectUrl: `${window.location.protocol}//${window.location.host}/order?code=${order.value.code}&email=${emailParameter.value}`,
      },
    });
    window.location.href = checkoutUrl;
  } catch (e: any) {
    error.value = e.message;
  } finally {
    paymentLoading.value = false;
  }
}

const transitionToAwaitingPrePress = async () => {
  try {
    transitionLoading.value = true;
    if (!order.value?.customer?.emailAddress || !order.value?.code) {
      throw Error("Order not found");
    }
    const {
      data: { transitionOrderToAwaitingPrepress },
    } = await vendureClient.TransitionOrderToAwaitingPrepress({
      emailAddress: order.value?.customer?.emailAddress,
      orderCode: order.value?.code,
    });
    if ((transitionOrderToAwaitingPrepress as ErrorResult).errorCode) {
      error.value = (transitionOrderToAwaitingPrepress as ErrorResult).message;
    } else {
      order.value = transitionOrderToAwaitingPrepress as OrderFieldsFragment;
    }
  } catch (e: any) {
    error.value = e.message;
  } finally {
    transitionLoading.value = false;
  }
};

const addImageUploaded = (e: uploadedType) => {
  filesUploaded.value.push(e);
};

const getUploadedImageForLine = (lineId: string) => {
  return filesUploaded.value.filter((line) => line.orderLineId == lineId);
};

const removeUploadedFile = (file: uploadedType) => {
  const client = filestack.init(import.meta.env.PUBLIC_FILESTACK_API_KEY);

  client
    .remove(file.file.handle, {
      policy: import.meta.env.PUBLIC_FILESTACK_POLICY,
      signature: import.meta.env.PUBLIC_FILESTACK_SIGNATURE,
    })
    .then((res) => {
      if (res.data === "success") {
        filesUploaded.value = filesUploaded.value.filter(
          (line) => line.file.handle !== file.file.handle,
        );
      }
    });
};
</script>
