<template>
  <nav
    class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0"
  >
    <div class="-mt-px flex w-0 flex-1">
      <a
        v-if="prevPageUrl"
        :href="prevPageUrl"
        class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
      >
        <ArrowLongLeftIcon
          class="mr-3 h-5 w-5 text-gray-400"
          aria-hidden="true"
        />
        Previous
      </a>
    </div>
    <div class="hidden md:-mt-px md:flex">
      <template v-for="pageNumber in visiblePages">
        <template v-if="pageNumber === '. . . '">
          <span
            key="'ellipsis'"
            class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500"
            >{{ pageNumber }}</span
          >
        </template>
        <template v-else>
          <a
            :key="pageNumber"
            :href="`/blog/${pageNumber}`"
            :class="{
              'inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700':
                currentPage !== pageNumber,
              'inline-flex items-center border-t-2 border-indigo-500 px-4 pt-4 text-sm font-medium text-indigo-600':
                currentPage === pageNumber,
            }"
            aria-current="page"
            >{{ pageNumber }}</a
          >
        </template>
      </template>
    </div>
    <div class="-mt-px flex w-0 flex-1 justify-end">
      <a
        v-if="nextPageUrl"
        :href="nextPageUrl"
        class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
      >
        Next
        <ArrowLongRightIcon
          class="ml-3 h-5 w-5 text-gray-400"
          aria-hidden="true"
        />
      </a>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { ArrowLongLeftIcon, ArrowLongRightIcon } from "@heroicons/vue/20/solid";

const props = defineProps<{
  currentPage: number;
  totalPages: number;
  nextPageUrl: string;
  prevPageUrl: string;
}>();

const visiblePages = (() => {
  const maxVisiblePages = 7;
  const pages = [];
  const start = Math.max(
    1,
    props.currentPage - Math.floor(maxVisiblePages / 2),
  );
  const end = Math.min(props.totalPages, start + maxVisiblePages - 1);

  if (start > 1) {
    pages.push(1);
    if (start > 2) {
      pages.push(". . . ");
    }
  }

  for (let i = start; i <= end; i++) {
    pages.push(i);
  }

  if (end < props.totalPages) {
    if (end < props.totalPages - 1) {
      pages.push(". . . ");
    }
    pages.push(props.totalPages);
  }

  return pages;
})();
</script>
