<template>
  <div class="flex h-screen min-h-full flex-1">
    <div
      class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
      v-if="error"
    >
      {{ error }}
    </div>
    <div
      v-else
      class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <div class="flex items-center justify-center lg:justify-start">
            <a href="/"
              ><img src="/assets/img/cg-logo.svg" class="h-10 w-auto"
            /></a>
            <h2
              class="ml-4 text-2xl font-bold leading-9 tracking-tight text-gray-700"
            >
              Reset your password
            </h2>
          </div>
        </div>

        <div class="mt-10">
          <div>
            <div>
              <div>
                <label
                  for="password"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >New password</label
                >
                <div class="mt-2">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    v-model="newPassword"
                    autocomplete="new-password"
                    class="focus:ring-primary block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                    @blur="
                      !isStrongPassword(newPassword)
                        ? (errors.newPassword =
                            'Password must be at least 8 characters long')
                        : (errors.newPassword = '')
                    "
                  />
                  <span
                    v-if="errors.newPassword"
                    class="text-xs text-red-500"
                    >{{ errors.newPassword }}</span
                  >
                </div>
              </div>

              <div>
                <label
                  for="confirm-password"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Confirm password</label
                >
                <div class="mt-2">
                  <input
                    id="confirm-password"
                    name="confirm-password"
                    type="password"
                    v-model="confirm_password"
                    autocomplete="confirm-password"
                    class="focus:ring-primary block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                    @blur="
                      newPassword !== confirm_password
                        ? (errors.confirm_password = 'Password didn\'t match')
                        : (errors.confirm_password = '')
                    "
                  />
                  <span
                    v-if="errors.confirm_password"
                    class="text-xs text-red-500"
                    >{{ errors.confirm_password }}</span
                  >
                </div>
              </div>
              <div class="mt-8">
                <span v-if="errors.reset" class="text-sm text-red-500">{{
                  errors.reset
                }}</span>
                <Button
                  class="mt-2"
                  @click="resetPassword"
                  text="Submit"
                  :disabled="!canSubmit"
                  :loading="loading"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src="/login-eye.jpg"
        alt=""
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { isStrongPassword } from "../utils/formValidation";
import { onMounted, computed, reactive, ref } from "vue";

const newPassword = ref("");
const confirm_password = ref("");
const error = ref("");
const loading = ref(false);

const errors = reactive({
  newPassword: "",
  confirm_password: "",
  reset: "",
});

const canSubmit = computed(() => {
  return (
    isStrongPassword(newPassword.value) &&
    newPassword.value === confirm_password.value
  );
});

const searchParamString = window.location.search;
const searchParams = new URLSearchParams(searchParamString);

const resetPassword = async () => {
  const token = searchParams.get("token");
  if (token) {
    try {
      loading.value = true;
      const {
        data: { resetPassword: result },
      } = await vendureClient.ResetPassword({
        password: newPassword.value,
        token,
      });
      if ("id" in result) {
        window.location.href = "/";
      } else if ("errorCode" in result) {
        throw Error(result.message);
      }
    } catch (e: any) {
      errors.reset = e;
    } finally {
      loading.value = false;
    }
  }
};

onMounted(() => {
  if (!searchParams.get("token")) error.value = "Token was not passed.";
});
</script>
