<template>
  <TransitionRoot as="template" :show="open">
    <Dialog
      as="div"
      class="relative z-10"
      @close="$emit('close-product-quickview', true)"
    >
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 hidden bg-gray-500 bg-opacity-75 transition-opacity md:block"
        />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
          class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4"
        >
          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden md:inline-block md:h-screen md:align-middle"
            aria-hidden="true"
            >&#8203;</span
          >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
            enter-to="opacity-100 translate-y-0 md:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 md:scale-100"
            leave-to="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
          >
            <DialogPanel
              class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl"
            >
              <div
                class="relative flex w-full items-center overflow-hidden bg-white px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8"
              >
                <button
                  type="button"
                  class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8"
                  @click="$emit('close-product-quickview', true)"
                >
                  <span class="sr-only">Close</span>
                  <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                </button>

                <div
                  class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:items-center lg:gap-x-8"
                >
                  <div
                    class="aspect-h-3 aspect-w-2 overflow-hidden rounded-lg bg-gray-100 sm:col-span-4 lg:col-span-5"
                  >
                    <img
                      :src="product?.featuredAsset?.thumbnail"
                      :alt="product?.name"
                      class="object-cover object-center"
                    />
                  </div>
                  <div class="h-full sm:col-span-8 lg:col-span-7">
                    <h2 class="text-xl font-medium text-gray-900 sm:pr-12">
                      {{ product?.name }}
                    </h2>
                    <div class="mt-4">
                      <h2 class="sr-only">Product information</h2>
                      <div class="my-4 h-16" v-if="!isCalculatingPrice">
                        <p class="text-3xl tracking-tight text-gray-900">
                          {{ $filters.price(priceWithTax) }}
                          <small>/ unit Incl. Tax</small>
                        </p>
                        <p class="tracking-tight text-gray-500">
                          {{ $filters.price(price) }}/ unit Excl. Tax
                        </p>
                      </div>
                      <div v-else>
                        <Spinner colour="primary" height="16" />
                      </div>
                    </div>
                    <span
                      v-if="product?.customFields?.shortDescription"
                      v-html="product?.customFields?.shortDescription"
                    ></span>
                    <section
                      class="mt-4 h-full"
                      aria-labelledby="options-heading"
                    >
                      <template v-if="product?.isConfigurable">
                        <ProductConfigurator
                          :productConfiguratorOptionGroups="
                            product?.configuratorOptionGroups!
                          "
                          :variantId="selectedVariant?.id || ''"
                          :quantity="quantity"
                          @price-change="
                            price = $event.price;
                            priceWithTax = $event.priceWithTax;
                          "
                          @options-selected="selectedOptions = $event"
                          @customer-request-changed="customerNote = $event"
                          @calculating-price-value="isCalculatingPrice = $event"
                        />
                      </template>

                      <a
                        v-if="price === 0"
                        href="/contact"
                        class="text-primary mt-5"
                        ><br />Get in touch to get a quote about this product
                      </a>
                      <div v-else class="mb-4 mt-2">
                        <div class="my-4 h-16" v-if="!isCalculatingPrice">
                          <p class="text-3xl tracking-tight text-gray-900">
                            {{ $filters.price(priceWithTax) }}
                            <small>/ unit Incl. Tax</small>
                          </p>
                          <p class="tracking-tight text-gray-500">
                            {{ $filters.price(price) }}/ unit Excl. Tax
                          </p>
                        </div>
                        <div v-else>
                          <Spinner colour="primary" height="16" />
                        </div>
                        <div class="sm:flex-col1 flex">
                          <input
                            v-model="quantity"
                            type="number"
                            class="focus:border-primary-300 focus:ring-primary-300 mr-4 block h-12 w-20 rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
                          />
                          <Button
                            :text="loading ? '' : 'Add to cart'"
                            :loading="loading"
                            @click="addItem"
                          />
                        </div>

                        <a
                          :href="`${product?.path}`"
                          class="text-primary flex cursor-pointer justify-center sm:static sm:mt-8 md:mt-4"
                        >
                          View full details
                        </a>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script lang="ts" setup>
import ProductConfigurator from "@components/ProductConfigurator.vue";
import {
  Dialog,
  DialogPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/24/outline";
import type { SelectedConfiguratorOption } from "../api/graphql/generated";
import { type PropType, computed, ref } from "vue";
import Spinner from "@components/global/Spinner.vue";
import type { Product } from "../model";
import { useActiveOrder } from "../composables/useActiveOrder";
import { setNotification } from "src/store";

const { product, open } = defineProps({
  open: {
    type: Boolean,
    default: false,
  },
  product: {
    type: Object as PropType<Product>,
    required: false,
  },
});

const emit = defineEmits<{
  (e: "close-product-quickview", value: boolean): void;
}>();

const { loading, addItemToOrder } = useActiveOrder();

// Just selects the first variant for now, because all products have only one variant
const selectedVariant = computed(() => product?.variants?.[0]);
let selectedOptions: SelectedConfiguratorOption[] = [];
const price = ref(
  selectedVariant.value?.defaultConfiguratorPrice?.retail ??
    selectedVariant.value?.price,
);
const priceWithTax = ref(
  selectedVariant.value?.defaultConfiguratorPrice?.retailWithTax ??
    selectedVariant.value?.priceWithTax,
);
const customerNote = ref("");

const quantity = ref(1);
const isCalculatingPrice = ref(false);

async function addItem(): Promise<void> {
  if (selectedVariant.value) {
    const parsedOptions = selectedOptions.map((option) =>
      JSON.stringify(option),
    );
    await addItemToOrder({
      productVariantId: selectedVariant.value.id,
      quantity: quantity.value,
      customFields: {
        selectedConfiguratorOptions: parsedOptions,
        customerNote: customerNote.value,
      },
    });
    emit("close-product-quickview", true);
  } else {
    setNotification({
      message: `No variant selected for ${product?.slug}`,
      error: true,
    });
  }
}
</script>
