<template>
  <div
    class="relative box-content min-h-[250px] overflow-x-auto py-2 xl:overflow-visible"
  >
    <div
      class="absolute flex space-x-8 xl:relative xl:grid xl:grid-cols-5 xl:gap-x-8 xl:space-x-0 xl:px-0"
    >
      <template v-for="product in props.products" :key="product.id">
        <!-- make propduct card fixed height and width in ProductsRow -->
        <ProductCard :product="product" class="min-w-[224px]" />
      </template>
    </div>
  </div>
</template>
<script setup lang="ts">
import type { Product } from "../model";
import ProductCard from "../components/ProductCard.vue";

const props = defineProps<{
  products: Product[];
}>();
</script>
