<template>
  <div class="relative mx-auto mb-10 overflow-hidden px-2 md:py-4">
    <div class="my-6 flex items-center gap-x-1 text-sm">
      <a
        v-for="(breadcrumb, index) in product.breadcrumbs"
        class="flex items-center"
        :href="breadcrumb.path"
      >
        {{ index === 0 ? "" : "/" }}
        {{ breadcrumb.name }}
      </a>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <div>
        <!-- Image gallery -->
        <TabGroup
          v-if="product.assets.length > 1"
          as="div"
          class="flex flex-col-reverse"
          :defaultIndex="featuredAssetIndex"
        >
          <!-- Image selector -->
          <div class="mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
            <TabList class="grid grid-cols-4 gap-6">
              <Tab
                v-for="asset in product.assets"
                :key="asset.id"
                class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                v-slot="{ selected }"
              >
                <span class="sr-only">{{ product.name }}</span>
                <span class="absolute inset-0 overflow-hidden rounded-md">
                  <img
                    :src="asset.thumbnail"
                    alt=""
                    class="h-full w-full object-cover object-center"
                  />
                </span>
                <span
                  :class="[
                    selected ? 'ring-primary-300' : 'ring-transparent',
                    'pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2',
                  ]"
                  aria-hidden="true"
                />
              </Tab>
            </TabList>
          </div>

          <TabPanels class="aspect-h-1 aspect-w-1 w-full">
            <TabPanel v-for="asset in product.assets" :key="asset.id">
              <img
                :src="asset.preview"
                :alt="product.name"
                class="h-full w-full object-cover object-center sm:rounded-lg"
              />
            </TabPanel>
          </TabPanels>
        </TabGroup>
        <div class="flex flex-col-reverse" v-else>
          <img
            :src="product.featuredAsset?.preview"
            :alt="product.name"
            class="h-full w-full object-cover object-center sm:rounded-lg"
          />
        </div>

        <!-- Desktop description tabs -->
        <div class="hidden lg:block xl:block 2xl:block">
          <TabGroup>
            <TabList class="-mb-px mt-6 flex space-x-8">
              <Tab
                v-for="(tab, index) in tabs"
                as="template"
                :key="index"
                v-slot="{ selected }"
              >
                <button
                  :class="[
                    'mr-4 py-2.5 text-sm font-medium leading-5 focus:outline-none',
                    selected
                      ? 'border-primary-400 text-primary-400 border-b-2'
                      : '',
                  ]"
                >
                  {{ tab.title }}
                </button>
              </Tab>
              <Tab
                as="template"
                v-slot="{ selected }"
                v-if="product.customFields?.documents?.length"
              >
                <button
                  :class="[
                    'mr-4 py-2.5 text-sm font-medium leading-5 focus:outline-none',
                    selected
                      ? 'border-primary-400 text-primary-400 border-b-2'
                      : '',
                  ]"
                >
                  Documents
                </button>
              </Tab>
            </TabList>
            <TabPanels class="mt-4">
              <TabPanel v-for="(tab, index) in tabs" :key="index">
                <span class="prose" v-html="tab.content" />
              </TabPanel>
              <TabPanel v-if="product.customFields?.documents?.length">
                <div
                  v-for="document in documents"
                  :key="document.tag"
                  class="mb-6"
                >
                  <h2 class="font-bold capitalize">
                    {{ document.tag }}
                  </h2>
                  <template v-for="doc in document.documents">
                    <a
                      :href="doc.source"
                      target="_blank"
                      class="text-primary my-2 flex items-center font-light"
                    >
                      <DocumentIcon class="mr-2 h-6 w-6" />
                      <span>{{ doc.name }}</span>
                    </a>
                  </template>
                </div>
              </TabPanel>
            </TabPanels>
          </TabGroup>
        </div>
      </div>
      <!-- Product info -->
      <div class="mt-10 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
          {{ product.name }}
        </h1>

        <div class="mt-3">
          <h2 class="sr-only">Product information</h2>
          <div class="h-16" v-if="!isCalculatingPrice">
            <p class="text-3xl tracking-tight text-gray-900">
              {{ $filters.price(priceWithTax) }} <small>/ unit Incl. Tax</small>
            </p>
            <p class="tracking-tight text-gray-500">
              {{ $filters.price(price) }}/ unit Excl. Tax
            </p>
          </div>
          <div v-else-if="isCalculatingPrice">
            <Spinner colour="primary" height="16" />
          </div>
        </div>

        <!-- Reviews -->
        <div class="mt-3">
          <h3 class="sr-only">Reviews</h3>
          <div class="flex items-center">
            <div class="flex items-center"></div>
            <p class="sr-only">? out of 5 stars</p>
          </div>
        </div>

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>

          <div
            v-if="product?.customFields?.shortDescription"
            class="space-y-6 text-base text-gray-700"
          >
            <span v-html="product?.customFields?.shortDescription"></span>
          </div>
        </div>

        <section
          v-if="product.isConfigurable"
          aria-labelledby="details-heading"
          class="mt-12 h-full"
        >
          <ProductConfigurator
            :productConfiguratorOptionGroups="product.configuratorOptionGroups"
            :variantId="selectedVariant?.id || ''"
            :quantity="quantity"
            @price-change="
              price = $event.price;
              priceWithTax = $event.priceWithTax;
            "
            @options-selected="onOptionsSelected"
            @customer-request-changed="customerNote = $event"
            @calculating-price-value="isCalculatingPrice = $event"
          />
        </section>
        <!-- Price of 0 is invalid-->
        <a v-if="price === 0" href="/contact" class="text-primary mt-5"
          ><br />Get in touch to get a quote about this product
        </a>
        <div class="my-6" v-else>
          <div class="h-16" v-if="!isCalculatingPrice">
            <p class="text-3xl tracking-tight text-gray-900">
              {{ $filters.price(priceWithTax) }} <small>/ unit Incl. Tax</small>
            </p>
            <p class="tracking-tight text-gray-500">
              {{ $filters.price(price) }}/ unit Excl. Tax
            </p>
          </div>
          <div v-else>
            <Spinner colour="primary" height="16" />
          </div>
          <div class="sm:flex-col1 mt-4 flex">
            <input
              type="number"
              v-model="quantity"
              class="focus:border-primary-300 focus:ring-primary-300 mr-4 block h-12 w-20 rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
            />
            <Button
              :text="loadingAddItemToOrder ? '' : 'Add to cart'"
              :loading="loadingAddItemToOrder"
              @click="addItem"
            />
          </div>
          <p class="text-right text-sm">
            Uploading artwork can be done after checkout
          </p>
        </div>
        <!-- Mobile description tabs -->
        <div class="mobile:block hidden sm:block md:block lg:hidden">
          <TabGroup>
            <TabList class="-mb-px mt-6 flex space-x-8">
              <Tab
                v-for="(tab, index) in tabs"
                as="template"
                :key="index"
                v-slot="{ selected }"
              >
                <button
                  :class="[
                    'mr-4 py-2.5 text-sm font-medium leading-5 focus:outline-none',
                    selected
                      ? 'border-primary-400 text-primary-400 border-b-2'
                      : '',
                  ]"
                >
                  {{ tab.title }}
                </button>
              </Tab>
              <Tab
                v-if="product.customFields?.documents?.length"
                as="template"
                v-slot="{ selected }"
              >
                <button
                  :class="[
                    'mr-4 py-2.5 text-sm font-medium leading-5 focus:outline-none',
                    selected
                      ? 'border-primary-400 text-primary-400 border-b-2'
                      : '',
                  ]"
                >
                  Documents
                </button>
              </Tab>
            </TabList>
            <TabPanels v-if="product.customFields?.documents" class="mt-4">
              <TabPanel v-for="(tab, index) in tabs" :key="index">
                <span class="prose" v-html="tab.content" />
              </TabPanel>
              <TabPanel v-if="product.customFields?.documents?.length">
                <div
                  v-for="document in documents"
                  :key="document.tag"
                  class="mb-6"
                >
                  <h2 class="font-bold capitalize">
                    {{ document.tag }}
                  </h2>
                  <template v-for="doc in document.documents">
                    <a
                      :href="doc.source"
                      target="_blank"
                      class="text-primary my-2 flex items-center font-light"
                    >
                      <DocumentIcon class="mr-2 h-6 w-6" />
                      <span>{{ doc.name }}</span>
                    </a>
                  </template>
                </div>
              </TabPanel>
            </TabPanels>
          </TabGroup>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import ProductConfigurator from "@components/ProductConfigurator.vue";
import { Tab, TabGroup, TabList, TabPanel, TabPanels } from "@headlessui/vue";
import { DocumentIcon } from "@heroicons/vue/24/outline";
import { type PropType, computed, ref } from "vue";
import Spinner from "@components/global/Spinner.vue";
import type { Product } from "../model";
import type { SelectedConfiguratorOption } from "../api/graphql/generated";
import { useActiveOrder } from "../composables/useActiveOrder";
import { setNotification } from "../store";

const { product, delivery } = defineProps({
  product: {
    type: Object as PropType<Product>,
    required: true,
  },
  delivery: {
    type: String,
    required: false,
  },
});

const { addItemToOrder, loading: loadingAddItemToOrder } = useActiveOrder();
// Just selects the first variant for now, because all products have only one variant
const selectedVariant = computed(() => product.variants?.[0]);
const customerNote = ref("");
const quantity = ref(1);
const isCalculatingPrice = ref(false);

const tabs = computed(() => {
  return [
    { title: "Description", content: product.description },
    {
      title: "Shipping",
      content: delivery ?? "",
    },
  ];
});

let selectedOptions: SelectedConfiguratorOption[] = [];
const price = ref(
  selectedVariant.value?.defaultConfiguratorPrice?.retail ??
    selectedVariant.value?.price,
);
const priceWithTax = ref(
  selectedVariant.value?.defaultConfiguratorPrice?.retailWithTax ??
    selectedVariant.value?.priceWithTax,
);

function onOptionsSelected(options: SelectedConfiguratorOption[]): void {
  selectedOptions = options;

  const baseUrl = location.href.split("?")[0];
  const newParams = options.map(
    (option) => `${option.optionGroupId}=${option.value || option.optionId}`,
  );
  const newUrl =
    baseUrl + (newParams.length > 0 ? "?" + newParams.join("&") : "");
  history.replaceState(null, "", newUrl);
}

async function addItem(): Promise<void> {
  if (selectedVariant.value) {
    const parsedOptions = selectedOptions.map((option) =>
      JSON.stringify(option),
    );
    await addItemToOrder({
      productVariantId: selectedVariant.value.id,
      quantity: quantity.value,
      customFields: {
        selectedConfiguratorOptions: parsedOptions,
        customerNote: customerNote.value,
      },
    });
  } else {
    setNotification({
      message: `No variant selected for ${product.slug}`,
      error: true,
    });
  }
}

const featuredAssetIndex = computed(() => {
  return product.assets.findIndex(
    (image) => image.id == product.featuredAsset?.id,
  );
});

const documents = computed(() => {
  const productDocuments = product.customFields?.documents || [];

  const groupedDocuments = productDocuments.reduce(
    (acc: any[], document: any) => {
      const tags = document.tags.map((tag: any) => tag.value);
      const tagNames = tags.length ? tags : ["Other"];

      tagNames.forEach((tagName: string) => {
        const foundTag = acc.find((group: any) => group.tag === tagName);

        if (foundTag) {
          foundTag.documents.push(document);
        } else {
          acc.push({ tag: tagName, documents: [document] });
        }
      });

      return acc;
    },
    [],
  );
  const reorderedArray = groupedDocuments.sort((a, b) => {
    if (a.tag === "Other") return 1;
    if (b.tag === "Other") return -1;
    return 0;
  });
  return reorderedArray;
});
</script>
