<template>
  <div
    v-if="(productConfiguratorOptionGroups?.length ?? 0) > 0"
    class="flex flex-col justify-between space-y-4"
  >
    <!-- Render size options first, because they require a special layout -->
    <div v-if="sizeOptionGroups?.length">
      <label for="presetSizes" class="block text-sm font-medium text-gray-700"
        >Preset sizes</label
      >
      <select
        class="focus:border-primary-300 focus:ring-primary-300 mt-1 block h-10 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
        id="presetSizes"
        v-model="presetSize"
        @change="onSelectPresetSize"
      >
        <option
          v-for="(size, index) in presetSizes"
          :key="index"
          :value="index"
        >
          {{ size.name }}
        </option>
      </select>
      <div v-if="!presetSize" class="flex justify-between gap-x-4">
        <template v-for="optionGroup in sizeOptionGroups">
          <div class="mt-4 w-full">
            <label class="block text-sm font-medium text-gray-700"
              >{{ optionGroup.name
              }}<span class="ml-1 text-red-500">*</span></label
            >
            <input
              type="text"
              pattern="[0-9]*"
              :min="optionGroup.min"
              :max="optionGroup.max"
              :value="selectedOptions[optionGroup.id]?.value || optionGroup.min"
              @input="selectNumber(optionGroup.id, $event.target)"
              class="focus:border-primary-300 focus:ring-primary-300 mt-1 block h-10 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
            />
          </div>
        </template>
        <div class="mt-4 w-full whitespace-nowrap">
          <label
            for="measurement"
            class="block text-sm font-medium text-gray-700"
          >
            Measurement Units<span class="ml-1 text-red-500">*</span>
          </label>
          <select
            id="measurement"
            class="focus:border-primary-300 focus:ring-primary-300 mt-1 block h-10 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
            v-model="measurement"
            @change="onUpdateMeasurement"
          >
            <option v-for="(value, key) of measurementUnits" :value="key">
              {{ key }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- End sizeOptionGroups -->

    <!-- Loop all optionGroups -->
    <template v-for="optionGroup in productConfiguratorOptionGroups">
      <!-- Render Number options as inputs, except size options, those are rendered at the top of the page-->
      <template
        v-if="
          optionGroup.__typename === 'ConfiguratorOptionGroupNumber' &&
          !isSizeOption(optionGroup)
        "
      >
        <div class="w-half">
          <label class="block text-sm font-medium text-gray-700"
            >{{ optionGroup.name
            }}<span class="ml-1 text-red-500">*</span></label
          >
          <input
            type="text"
            pattern="[0-9]*"
            :min="optionGroup.min"
            :max="optionGroup.max"
            :value="selectedOptions[optionGroup.id]?.value || optionGroup.min"
            @change="selectNumber(optionGroup.id, $event.target)"
            class="focus:border-primary-300 focus:ring-primary-300 mt-1 block h-10 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
          />
        </div> </template
      ><!-- End number -->

      <!-- Render radio-->
      <template
        v-if="optionGroup.__typename === 'ConfiguratorOptionGroupRadio'"
      >
        <!-- Show select buttons for 2 or less options -->
        <RadioGroup
          v-if="optionGroup.options.length <= 2"
          @update:modelValue="selectRadio(optionGroup.id, $event)"
        >
          <RadioGroupLabel class="mb-2 block text-sm font-medium text-gray-700"
            >{{ optionGroup.name }}
            <span class="ml-1 text-red-500">*</span>
          </RadioGroupLabel>
          <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
            <RadioGroupOption
              as="template"
              :key="index"
              v-for="(option, index) in optionGroup.options"
              :value="option.id"
              v-slot="{ active }"
              :checked="isSelectedOption(optionGroup.id, option.id)"
              :aria-label="`${optionGroup.id} ${option.id}`"
            >
              <div
                :class="[
                  active ? 'ring-primary ring-2' : '',
                  'relative block cursor-pointer rounded-lg border border-gray-300 p-4 focus:outline-none',
                ]"
              >
                <RadioGroupLabel
                  as="p"
                  class="text-base font-medium text-gray-900"
                  >{{ option.name }}</RadioGroupLabel
                >
                <div
                  :class="[
                    active ? 'border' : 'border-2',
                    isSelectedOption(optionGroup.id, option.id)
                      ? 'border-primary'
                      : 'border-transparent',
                    'pointer-events-none absolute -inset-px rounded-lg',
                  ]"
                  aria-hidden="true"
                />
              </div>
            </RadioGroupOption>
          </div>
        </RadioGroup>

        <!-- If more than 2 options, show select box instead of radio groups-->
        <div v-else>
          <label class="block text-sm font-medium text-gray-700"
            >{{ optionGroup.name
            }}<span class="ml-1 text-red-500">*</span></label
          >
          <select
            :id="`${optionGroup.id}`"
            class="focus:border-primary-300 focus:ring-primary-300 mt-1 block h-10 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
            @change="selectRadio(optionGroup.id, ($event.target as any)?.value)"
          >
            <option v-for="option in optionGroup.options" :value="option.id">
              {{ option.name }}
            </option>
          </select>
        </div>
      </template>
      <!-- End radio -->
    </template>
    <!-- End option group loop-->

    <!-- Render customer request (input with textarea) -->
    <div class="mt-4 w-full">
      <label for="customer-note" class="block text-sm font-medium text-gray-700"
        >Additional information</label
      >
      <div class="mt-1">
        <textarea
          @input="
            customerRequestChanged(($event.target as HTMLTextAreaElement).value)
          "
          id="customer-note"
          class="focus:border-primary-300 focus:ring-primary-300 block h-32 w-full rounded-md border border-gray-300 px-2 shadow-sm sm:text-sm"
        />
      </div>
    </div>
    <!-- End customer request -->
  </div>
</template>

<script setup lang="ts">
import { RadioGroup, RadioGroupLabel, RadioGroupOption } from "@headlessui/vue";
import type {
  ConfiguratorOptionGroupNumber,
  SelectedConfiguratorOption,
  ConfiguratorOptionGroup,
} from "../api/graphql/generated";
import type { PropType } from "vue";
import { computed, onMounted, type Ref, ref, watch } from "vue";
import presetSizes from "../utils/preset-sizes";
import { convertToMillimeters } from "../utils/measurementUnits";
import {
  measurementUnits,
  convertToMeasurementUnit,
  type MeasurementUnit,
} from "../utils/measurementUnits";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { activeCustomer } from "../store.ts";
import { table } from "node_modules/astro/dist/core/logger/core";

const props = defineProps({
  productConfiguratorOptionGroups: {
    type: Array as PropType<Array<ConfiguratorOptionGroup> | null>,
    default: [],
    required: false,
  },
  variantId: {
    type: [String, Number],
    required: true,
  },
  quantity: {
    type: Number,
    required: true,
  },
});

const measurement: Ref<string> = ref("mm");
const measurementBeforeUpdate = ref<string>("mm");
const presetSize = ref(0);
const selectedOptions = ref<Record<string, SelectedConfiguratorOption>>({});

watch(
  () => activeCustomer.value,
  (newCustomer, oldCustomer) => {
    if (!oldCustomer && newCustomer) {
      // If the customer logs in, we need to recalculate the price
      calculatePrice();
    }
  },
);

onMounted(async () => {
  const params = new URLSearchParams(location.search);
  const paramObject: any = {};

  emit("calculating-price-value", true);

  for (const [key, value] of params.entries()) {
    paramObject[key] = value;
  }

  for (const optionGroup of props.productConfiguratorOptionGroups ?? []) {
    if (optionGroup.__typename === "ConfiguratorOptionGroupRadio") {
      const optionId = paramObject[optionGroup.id];
      if (optionId) {
        selectedOptions.value[optionGroup.id] = {
          optionGroupId: optionGroup.id,
          optionId: optionId,
        };
      } else {
        selectedOptions.value[optionGroup.id] = {
          optionGroupId: optionGroup.id,
          optionId: optionGroup.options[0].id,
        };
      }
    } else if (optionGroup.__typename === "ConfiguratorOptionGroupNumber") {
      const value = parseInt(paramObject[optionGroup.id]);
      if (
        !isNaN(value) &&
        value >= optionGroup.min &&
        value <= optionGroup.max
      ) {
        selectedOptions.value[optionGroup.id] = {
          optionGroupId: optionGroup.id,
          value: value,
        };
      } else {
        selectedOptions.value[optionGroup.id] = {
          optionGroupId: optionGroup.id,
          value: optionGroup.min,
        };
      }
    }
  }

  if (paramObject.measurement) {
    measurement.value = paramObject.measurement;
  }

  await calculatePrice();
});

const emit = defineEmits<{
  (
    event: "price-change",
    prices: { price: number; priceWithTax: number },
  ): void;
  (event: "customer-request-changed", customerNote: string): void;
  (event: "options-selected", options: SelectedConfiguratorOption[]): void;
  (event: "calculating-price-value", value: boolean): void;
}>();

watch(
  () => props.quantity,
  (newValue, oldValue) => {
    calculatePrice();
  },
);

function isSelectedOption(optionGroupId: string, optionId: string) {
  const selectedOption = selectedOptions.value[optionGroupId];
  return selectedOption && selectedOption.optionId === optionId;
}

function isSizeOption(optionGroup: ConfiguratorOptionGroup): boolean {
  return (
    optionGroup.__typename === "ConfiguratorOptionGroupNumber" &&
    (optionGroup.id === "height" || optionGroup.id === "width")
  );
}

const sizeOptionGroups = computed(
  () =>
    props.productConfiguratorOptionGroups?.filter(
      isSizeOption,
    ) as ConfiguratorOptionGroupNumber[],
);

async function selectRadio(optionGroupId: string, optionId: string) {
  selectedOptions.value[optionGroupId] = {
    optionGroupId,
    optionId,
  };
  await calculatePrice();
}

async function selectNumber(
  optionGroupId: string,
  target?: EventTarget | null,
) {
  const inputValue = (target as HTMLInputElement)?.value;
  if (
    !inputValue ||
    inputValue[inputValue.length - 1] === "." ||
    inputValue.slice(-2) === ".0" ||
    isNaN(parseFloat(inputValue))
  ) {
    return;
  }
  const value = parseFloat(inputValue);
  selectedOptions.value[optionGroupId] = {
    optionGroupId,
    value,
  };
  await calculatePrice();
}

function customerRequestChanged(value: string) {
  emit("customer-request-changed", value);
}

/**
 * Set the selected options and preview the price
 */
async function calculatePrice() {
  emit("calculating-price-value", true);
  const copyOfselectedOptions = JSON.parse(
    JSON.stringify(selectedOptionsToArray()),
  );

  try {
    const {
      data: {
        calculateConfiguratorPrice: {
          retail,
          retailWithTax,
          trade,
          tradeWithTax,
        },
      },
    } = await vendureClient.CalculateConfiguratorPrice({
      variantId: props.variantId,
      quantity: props.quantity,
      selectedOptions: changeValuesToMM(copyOfselectedOptions),
    });
    if (activeCustomer.value?.isTradeCustomer) {
      emit("price-change", { priceWithTax: tradeWithTax, price: trade });
    } else {
      emit("price-change", { priceWithTax: retailWithTax, price: retail });
    }
    emit("options-selected", copyOfselectedOptions);
  } finally {
    emit("calculating-price-value", false);
  }
}

async function onSelectPresetSize() {
  measurement.value = "mm";
  const size = presetSizes[presetSize.value];
  selectedOptions.value["height"] = {
    optionGroupId: "height",
    value: size.height,
  };
  selectedOptions.value["width"] = {
    optionGroupId: "width",
    value: size.width,
  };
  await calculatePrice();
}

async function onUpdateMeasurement() {
  if (measurementBeforeUpdate.value === "") {
    measurementBeforeUpdate.value = measurement.value;
  }

  const currentUnit = measurementBeforeUpdate.value as MeasurementUnit;
  const selectedUnit = measurement.value as MeasurementUnit;

  if (currentUnit !== selectedUnit) {
    for (const optionGroup of props.productConfiguratorOptionGroups ?? []) {
      if (optionGroup.__typename === "ConfiguratorOptionGroupNumber") {
        const value = selectedOptions.value[optionGroup.id].value ?? 0;
        const convertedValue = convertToMeasurementUnit(
          value,
          currentUnit,
          selectedUnit,
        );
        selectedOptions.value[optionGroup.id].value =
          Math.round(convertedValue * 100) / 100;
      }
    }
  }

  measurementBeforeUpdate.value = measurement.value;
  await calculatePrice();
}

/**
 * Convert our Record to an array of selected options
 */
function selectedOptionsToArray(): SelectedConfiguratorOption[] {
  const selected = Object.assign({}, selectedOptions.value);
  return Object.values(selected);
}

function changeValuesToMM(selected: any) {
  const sizeOptions = sizeOptionGroups.value?.map((option) => option.id);
  selected.forEach((option: any) => {
    if (
      sizeOptions.includes(option.optionGroupId) &&
      measurement.value !== "mm"
    ) {
      option.value = convertToMillimeters(option.value, measurement.value);
    }
  });
  return selected;
}
</script>
