<template>
  <div class="group relative cursor-pointer">
    <div
      class="lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75"
    >
      <img
        :src="product.featuredAsset?.preview"
        :alt="product.name"
        class="h-full w-full object-contain object-center lg:h-full lg:w-full"
        v-on:click="showProductDetails()"
      />
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-sm text-gray-700">
          <a :href="product.path">
            {{ product.name }}
          </a>
        </h3>
      </div>
      <p class="whitespace-nowrap text-sm font-medium text-gray-900">
        {{ $filters.price(priceWithTax) }} <br /><small>Incl. Tax</small>
      </p>
    </div>
    <ProducQuickView
      v-if="showModal"
      :product="product"
      @close-product-quickview="showModal = false"
      :open="showModal"
    ></ProducQuickView>
  </div>
</template>
<script setup lang="ts">
import type { Product } from "../model";
import ProducQuickView from "./ProductQuickView.vue";
import { ref } from "vue";
import { activeCustomer } from "../store";
import { watch } from "vue";

const props = defineProps<{
  product: Product;
}>();

const priceWithTax = ref(props.product.retailPriceWithTax);

watch(activeCustomer, () => {
  if (activeCustomer.value?.isTradeCustomer) {
    priceWithTax.value = props.product.tradePriceWithTax;
  }
});

const showModal = ref(false);

function showProductDetails(): void {
  showModal.value = true;
}
</script>
