<template>
  <!-- Single banner -->
  <div
    class="my-2 flex h-[371px] w-full justify-center rounded-lg bg-slate-200"
  >
    <h2
      class="desktop:text-7xl place-self-center text-center text-3xl md:text-5xl"
    >
      Placeholder for reviews plugin
    </h2>
  </div>
</template>
