<template>
  <TransitionRoot as="template" :show="open">
    <Dialog as="div" class="relative z-10" @close="emit('closed')">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 hidden bg-gray-500 bg-opacity-75 transition-opacity md:block"
        ></div>
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div
          class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4"
        >
          <!-- This element is to trick the browser into centering the modal contents. -->
          <span
            class="hidden md:inline-block md:h-screen md:align-middle"
            aria-hidden="true"
            >&#8203;</span
          >
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
            enter-to="opacity-100 translate-y-0 md:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 md:scale-100"
            leave-to="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
          >
            <DialogPanel
              class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl"
            >
              <div
                class="relative flex w-full items-center overflow-hidden bg-white px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8"
              >
                <button
                  type="button"
                  class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8"
                  @click="emit('closed')"
                >
                  <span class="sr-only">Close</span>
                  <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                </button>

                <div class="mt-10 w-full">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative">
                    <div
                      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                    >
                      <MagnifyingGlassIcon class="h-5 w-5 text-gray-400" />
                    </div>
                    <input
                      ref="searchInput"
                      name="search"
                      class="focus:ring-primary block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                      placeholder="Search"
                      type="search"
                      @input="search(($event.target as HTMLFormElement)?.value)"
                    />
                  </div>

                  <div v-if="!searchResults.length">
                    <h2 class="mt-6">
                      <span
                        class="desktop:text-5xl text-[24px] md:text-[32px]"
                      ></span
                      ><span
                        class="desktop:text-5xl ml-2 text-[24px] font-bold text-gray-400 md:ml-4 md:text-[32px]"
                      >
                        No results found...
                      </span>
                    </h2>
                  </div>

                  <FilterComponent
                    :items="searchResults"
                    @filtered-items="(items) => (resultToDisplay = items)"
                  />

                  <!-- Search results -->
                  <section
                    aria-labelledby="products-heading"
                    class="my-8 min-h-screen"
                  >
                    <div
                      class="mt-6 grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8"
                    >
                      <div
                        v-for="(searchResult, index) in resultToDisplay"
                        :key="index"
                        class="group relative"
                      >
                        <div class="group relative cursor-pointer">
                          <div
                            class="lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75"
                          >
                            <a :href="searchResult.url">
                              <img
                                :src="searchResult.image"
                                :alt="searchResult.name"
                                class="h-full w-full object-contain object-center lg:h-full lg:w-full"
                              />
                            </a>
                          </div>
                          <div class="mt-4 flex justify-between">
                            <div>
                              <h3 class="text-sm text-gray-700">
                                <a :href="searchResult.url">
                                  {{ searchResult.name }}
                                </a>
                              </h3>
                            </div>
                            <p
                              class="whitespace-nowrap text-sm font-medium text-gray-900"
                            >
                              {{ $filters.price(searchResult.price) }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
<script setup lang="ts">
import Fuse from "fuse.js";
import { createFuse } from "../api/util/search-util";
import { onMounted, ref, watch } from "vue";
import {
  Dialog,
  DialogPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { XMarkIcon, MagnifyingGlassIcon } from "@heroicons/vue/24/outline";
import { CGSearchItem } from "../model";

const props = defineProps({
  open: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits<{
  (event: "closed"): void;
}>();

let fuse: Fuse<CGSearchItem> | undefined = undefined;
const searchResults = ref<CGSearchItem[]>([]);
const loading = ref(true);

// refers to ref="searchInput"
const searchInput = ref(null);

// Focus cursor when modal is opened
watch(searchInput, (element, prevElement) => {
  if (props.open) {
    (searchInput.value as any)?.focus();
  }
});

onMounted(async () => {
  if (fuse) {
    return;
  }
  try {
    loading.value = true;
    const res = await fetch("/_search-cache.json");
    if (!res.ok) {
      throw Error(`Unable to fetch SearchIndex: ${res.statusText}`);
    }
    const searchIndex = await res.json();
    fuse = createFuse(searchIndex, {
      threshold: 0.5,
    });
  } finally {
    loading.value = false;
  }
});

const resultToDisplay = ref<CGSearchItem[]>([]);

function search(query: string) {
  const results = fuse?.search(query) || [];
  searchResults.value = results.map((r) => r.item);
}
</script>
