<template>
  <div class="flex h-screen min-h-full flex-1">
    <div
      class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <a
        href="/"
        class="hover:text-primary-500 text-primary-300 mb-8 font-semibold"
        >Take me back</a
      >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div class="mb-8 flex items-center justify-center lg:justify-start">
          <a href="/"
            ><img src="/assets/img/cg-logo.svg" class="h-10 w-auto"
          /></a>
          <h2
            v-if="!isForgotPassword"
            class="ml-4 text-2xl font-bold leading-9 tracking-tight text-gray-700"
          >
            Sign in to your account
          </h2>
          <h2
            v-else
            class="ml-4 text-2xl font-bold leading-9 tracking-tight text-gray-700"
          >
            Forgot password?
          </h2>
        </div>

        <!-- FIXME temporary notification -->
        <small
          >Please note. The website has been updated. You may need to reset your
          password using the "Forgot password?" link below</small
        >
        <br />
        <br />

        <p
          v-if="!isForgotPassword"
          class="text-center text-sm leading-6 text-gray-500 lg:text-left"
        >
          Dont have an account?
          <a
            href="/auth/register"
            class="hover:text-primary-500 text-primary-300 font-semibold"
            >Register</a
          >
        </p>

        <div class="mt-4">
          <div>
            <div class="space-y-6">
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    v-model="loginInfo.username"
                    autocomplete="email"
                    class="focus:ring-primary block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div v-if="!isForgotPassword">
                <label
                  for="password"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Password</label
                >
                <div class="mt-2">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    v-model="loginInfo.password"
                    autocomplete="current-password"
                    class="focus:ring-primary block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                  />
                </div>
              </div>

              <div
                v-if="!isForgotPassword"
                class="flex items-center justify-between"
              >
                <div class="flex items-center">
                  <input
                    id="remember-me"
                    name="remember-me"
                    type="checkbox"
                    v-model="loginInfo.rememberMe"
                    class="text-primary focus:ring-primary h-4 w-4 rounded border-gray-300"
                  />
                  <label
                    for="remember-me"
                    class="ml-3 block text-sm leading-6 text-gray-700"
                    >Remember me</label
                  >
                </div>

                <div class="text-sm leading-6 text-gray-600">
                  <p
                    class="primary hover:text-primary cursor-pointer font-semibold"
                    @click="isForgotPassword = true"
                  >
                    Forgot password?
                  </p>
                </div>
              </div>
              <div v-else class="text-sm leading-6 text-gray-600">
                <p
                  class="primary hover:text-primary cursor-pointer text-right font-semibold"
                  @click="isForgotPassword = false"
                >
                  Back to sign in
                </p>
              </div>

              <div v-if="loginError?.message && !isForgotPassword">
                <p class="text-center text-sm text-red-500 lg:text-left">
                  {{ loginError.message }}
                </p>
              </div>
              <Button
                v-if="!isForgotPassword"
                :disabled="!loginInfo.username || !loginInfo.password"
                :loading="loginLoading"
                @click="loginAndRedirect()"
                text="Sign in"
              />
              <Button
                v-else
                text="Send email"
                class="mb-4"
                :disabled="!validateEmail(loginInfo.username)"
                @click="requestPasswordReset"
                :loading="passwordResetLoading"
              ></Button>
              <p
                class="text-primary text-center text-sm"
                v-if="passwordResetRequestSuccess"
              >
                Password reset email sent. Please check your inbox and follow
                the instructions to reset your password.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src="/login-eye.jpg"
        alt=""
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { useActiveCustomer } from "../composables/useActiveCustomer";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { validateEmail } from "../utils/formValidation";
import { reactive, ref } from "vue";
import { ErrorResult } from "../api/graphql/generated";

const isForgotPassword = ref<Boolean>(false);
const passwordResetRequestSuccess = ref(false);

const passwordResetLoading = ref(false);
const resetError = ref("");

const {
  login,
  loading: loginLoading,
  loginError,
  activeCustomer,
} = useActiveCustomer();

const loginInfo = reactive({
  username: "",
  password: "",
  rememberMe: false,
});

const loginAndRedirect = async () => {
  await login(loginInfo);
  if (activeCustomer.value) {
    window.location.href = "/";
  }
};

const requestPasswordReset = async () => {
  passwordResetRequestSuccess.value = false;
  try {
    passwordResetLoading.value = true;
    const {
      data: { requestPasswordReset },
    } = await vendureClient.RequestPasswordReset({
      emailAddress: loginInfo.username,
    });
    if (requestPasswordReset && "errorResult" in requestPasswordReset) {
      throw Error((requestPasswordReset as ErrorResult).message);
    } else {
      passwordResetRequestSuccess.value = true;
    }
  } catch (e: any) {
    resetError.value = e.message;
  } finally {
    passwordResetLoading.value = false;
  }
};
</script>
