<template>
  <div class="flex h-screen min-h-full flex-1">
    <div
      class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <a
        href="/"
        class="hover:text-primary-500 text-primary-300 mb-8 font-semibold"
        >Take me back</a
      >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div class="flex items-center justify-center lg:justify-start">
          <a href="/"
            ><img src="/assets/img/cg-logo.svg" class="h-10 w-auto"
          /></a>
          <h2
            class="ml-4 text-2xl font-bold leading-9 tracking-tight text-gray-700"
          >
            Register your account
          </h2>
        </div>
        <p
          class="mt-8 text-center text-sm leading-6 text-gray-500 lg:text-left"
        >
          Already have an account?
          <a
            href="/auth/signin"
            class="hover:text-primary-500 text-primary-300 font-semibold"
            >Sign in</a
          >
        </p>
      </div>

      <div class="mt-10">
        <div>
          <div class="space-y-6">
            <div>
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Email address *</label
              >
              <div class="mt-1">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  v-model="registrationInfo.email"
                  class="focus:ring-primary block w-full rounded-md border-0 px-1 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                  @blur="
                    !validateEmail(registrationInfo.email)
                      ? (errors.email = 'this field is required')
                      : (errors.email = '')
                  "
                />
                <span v-if="errors.email" class="text-xs text-red-500">{{
                  errors.email
                }}</span>
              </div>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Password *</label
              >
              <div class="mt-1">
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="password"
                  v-model="registrationInfo.password"
                  class="focus:ring-primary block w-full rounded-md border-0 px-1 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                  @blur="
                    !isStrongPassword(registrationInfo.password)
                      ? (errors.password =
                          'Password must be at least 8 characters long')
                      : (errors.password = '')
                  "
                />
                <span v-if="errors.password" class="text-xs text-red-500">{{
                  errors.password
                }}</span>
              </div>
            </div>

            <div>
              <label
                for="confirmPassword"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Confirm Password *</label
              >
              <div class="mt-1">
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  v-model="registrationInfo.confirmPassword"
                  class="focus:ring-primary block w-full rounded-md border-0 px-1 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                  @blur="
                    registrationInfo.password !==
                    registrationInfo.confirmPassword
                      ? (errors.confirmPassword = 'Password didn\'t match')
                      : (errors.confirmPassword = '')
                  "
                />
                <span
                  v-if="errors.confirmPassword"
                  class="text-xs text-red-500"
                  >{{ errors.confirmPassword }}</span
                >
              </div>
            </div>

            <div>
              <label
                for="firstName"
                class="block text-sm font-medium leading-6 text-gray-900"
                >First Name</label
              >
              <div class="mt-1">
                <input
                  id="firstName"
                  name="firstName"
                  type="text"
                  autocomplete="first-name"
                  v-model="registrationInfo.firstName"
                  class="focus:ring-primary block w-full rounded-md border-0 px-1 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div>
              <label
                for="lastName"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Last Name</label
              >
              <div class="mt-1">
                <input
                  id="lastName"
                  name="lastName"
                  type="text"
                  autocomplete="last-name"
                  v-model="registrationInfo.lastName"
                  class="focus:ring-primary block w-full rounded-md border-0 px-1 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <p
              v-if="error"
              class="text-center text-sm text-red-500 lg:text-left"
            >
              {{ error }}
            </p>
            <Button
              @click="register"
              :loading="loading"
              text="Sign up"
              :disabled="!canSignup"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        src="/login-eye.jpg"
        alt=""
      />
    </div>
  </div>
</template>
<script setup lang="ts">
import { reactive, ref } from "vue";
import { validateEmail, isStrongPassword } from "../utils/formValidation";
import { vendureClient } from "../api/graphql/vendure-client.ts";
import { computed } from "vue";

const loading = ref(false);
const error = ref("");
const registrationInfo = reactive({
  email: "",
  password: "",
  confirmPassword: "",
  firstName: "",
  lastName: "",
  phoneNumber: "",
});

const errors = reactive({
  email: "",
  password: "",
  confirmPassword: "",
  firstName: "",
  lastName: "",
  phoneNumber: "",
});

const canSignup = computed(() => {
  return (
    validateEmail(registrationInfo.email) &&
    isStrongPassword(registrationInfo.password) &&
    registrationInfo.password === registrationInfo.confirmPassword
  );
});

const register = async () => {
  try {
    loading.value = true;
    await vendureClient.RegisterCustomerAccount({
      input: {
        firstName: registrationInfo.firstName,
        lastName: registrationInfo.lastName,
        phoneNumber: registrationInfo.phoneNumber,
        emailAddress: registrationInfo.email,
        password: registrationInfo.password,
      },
    });
    window.location.href = "/auth/signin";
  } catch (e: any) {
    error.value = e.message;
  } finally {
    loading.value = false;
  }
};
</script>
