<template>
  <TransitionRoot as="template" :show="open">
    <Dialog
      as="div"
      class="relative z-10"
      @close="$emit('close-slide-over-cart', true)"
    >
      <TransitionChild
        as="template"
        enter="ease-in-out duration-500"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in-out duration-500"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div
          class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        />
      </TransitionChild>

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div
            class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
          >
            <TransitionChild
              as="template"
              enter="transform transition ease-in-out duration-500 sm:duration-700"
              enter-from="translate-x-full"
              enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-700"
              leave-from="translate-x-0"
              leave-to="translate-x-full"
            >
              <DialogPanel class="pointer-events-auto w-screen max-w-md">
                <div
                  class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
                >
                  <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                    <div class="flex items-start justify-between">
                      <DialogTitle class="text-lg font-medium text-gray-900"
                        >Cart</DialogTitle
                      >
                      <div class="ml-3 flex h-7 items-center">
                        <button
                          type="button"
                          class="-m-2 p-2 text-gray-400 hover:text-gray-500"
                          @click="$emit('close-slide-over-cart', true)"
                        >
                          <span class="sr-only">Close panel</span>
                          <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                        </button>
                      </div>
                    </div>

                    <small class="text-gray-400"
                      >#{{ activeOrder?.code }}</small
                    >
                    <div class="mt-8">
                      <div class="flow-root">
                        <ul role="list" class="-my-6 divide-y divide-gray-200">
                          <li
                            v-for="(
                              orderLine, orderLineIndex
                            ) in activeOrder?.lines"
                            :key="orderLineIndex"
                            class="flex py-6"
                          >
                            <CartOrderLine :orderLine="orderLine" />
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                    <div
                      class="flex justify-between text-base font-medium text-gray-500"
                    >
                      <p>Subtotal Excl. Tax</p>
                      <p>
                        {{ $filters.price(activeOrder?.subTotal) }}
                      </p>
                    </div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <p>Subtotal</p>
                      <p>
                        {{ $filters.price(activeOrder?.subTotalWithTax) }}
                      </p>
                    </div>
                    <p class="mt-0.5 text-sm text-gray-500">
                      Shipping is calculated at checkout.
                    </p>
                    <div class="mt-6">
                      <a
                        href="/checkout"
                        class="bg-primary hover:bg-primary-300 focus:ring-primary-300 mx-auto flex w-full flex-1 items-center justify-center rounded-md border border-transparent px-8 py-3 text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50"
                        >Checkout</a
                      >
                    </div>
                    <div
                      class="mt-6 flex justify-center text-center text-sm text-gray-500"
                    >
                      <p>
                        or
                        <a
                          type="button"
                          class="text-primary hover:text-primary-300 font-medium"
                          href="/checkout-cart"
                        >
                          Go to cart
                          <span aria-hidden="true"> &rarr;</span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script lang="ts" setup>
import {
  DialogTitle,
  Dialog,
  DialogPanel,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { XMarkIcon } from "@heroicons/vue/20/solid";
import { ref, type Ref } from "vue";
import { useActiveOrder } from "../composables/useActiveOrder";
import {
  type MeasurementUnit,
  convertFromMmToUnitAndRound,
  measurementUnits,
} from "../utils/measurementUnits";

const { activeOrder, removeOrderLine } = useActiveOrder();
const measurement: Ref<MeasurementUnit> = ref("mm");

defineProps({
  open: {
    type: Boolean,
    default: false,
  },
});
</script>
