<template>
  <div>
    <div class="bg-white px-6 py-20 lg:px-8">
      <div class="mx-auto max-w-3xl text-base leading-7">
        <div
          v-html="page.content"
          class="prose prose-p:text-gray-600 prose-headings:text-gray-700"
        ></div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { StaticPage } from "../api/directus";

const props = defineProps<{
  page: StaticPage;
}>();
</script>
