<template>
  <Button text="Upload Artwork" @click="openFilePicker" />
</template>
<script setup lang="ts">
import * as filestack from "filestack-js";

const props = defineProps({
  orderCode: {
    type: String,
    required: true,
  },
  orderLineNumber: {
    type: Number,
    required: true,
  },
  variantName: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(["uploaded"]);

function openFilePicker() {
  const client = filestack.init(import.meta.env.PUBLIC_FILESTACK_API_KEY);
  client
    .picker({
      maxFiles: 15,
      storeTo: {
        location: "gcs",
        path: `/${props.orderCode}/`,
      },
      onFileSelected: async (file) => {
        const name = `${props.orderLineNumber}_${props.variantName}_${file.filename}`;
        console.log(`Uploading to '${props.orderCode}/${name}'`);
        return { ...file, name };
      },
      onFileUploadFinished: (file) => {
        const uploadedFile = {
          orderLineId: props.orderLineNumber,
          file: {
            fileName: file.originalPath,
            url: file.url,
            handle: file.handle,
          },
        };
        emit("uploaded", uploadedFile);
      },
    })
    .open();
}
</script>
