<form clrForm [formGroup]="dataFormGroup">
  <clr-input-container>
    <label>URL</label>
    <input
      clrInput
      type="text"
      formControlName="url"
      name="sheetUrl"
      class="sheet_field"
    />
  </clr-input-container>
  <clr-input-container>
    <label>Sheet Name</label>
    <input
      clrInput
      type="text"
      formControlName="sheetName"
      name="sheetName"
      class="sheet_field"
    />
  </clr-input-container>
  <button
    class="btn btn-primary"
    [disabled]="!dataFormGroup.valid || loading"
    (click)="pullData()"
  >
    Pull Data
  </button>
</form>
<div id="content"></div>
