<ng-template vdrDialogTitle>
  {{ optionGroupFormGroup.get("__typename").value ===
  "ConfiguratorOptionGroupRadio" ? "Radio option group" : "Checkbox option
  group" }}
</ng-template>
<div [formGroup]="optionGroupFormGroup">
  <div class="clr-row">
    <div class="clr-col">
      <span>Id*</span>
      <input
        clrInput
        placeholder="id"
        name="input"
        formControlName="id"
        required
      />
    </div>
    <div class="clr-col">
      <span>Name*</span>
      <input
        clrInput
        placeholder="name"
        name="input"
        formControlName="name"
        required
      />
    </div>
  </div>
  <div *ngIf="optionGroupFormGroup.controls.options">
    <h3>Options</h3>
    <clr-datagrid [(clrDgSelected)]="selectedOptionsIndex">
      <clr-dg-action-bar>
        <div class="btn-group">
          <button
            type="button"
            (click)="newOptions()"
            class="btn btn-sm btn-secondary"
          >
            <clr-icon shape="add"></clr-icon> New
          </button>
          <button
            type="button"
            *ngIf="selectedOptionsIndex.length"
            class="btn btn-sm btn-danger"
            (click)="deleteSelected()"
          >
            <clr-icon shape="trash"></clr-icon> Delete
          </button>
        </div>
      </clr-dg-action-bar>
      <clr-dg-column>ID*</clr-dg-column>
      <clr-dg-column>Name*</clr-dg-column>
      <clr-dg-column>Custom Fields</clr-dg-column>
      <clr-dg-row
        *clrDgItems="
            let option of optionGroupFormGroup.controls.options.controls;
            let i = index
          "
        [clrDgItem]="i"
        [formGroup]="option"
      >
        <clr-dg-cell>
          <input
            clrInput
            placeholder="id"
            name="id"
            formControlName="id"
            required
          />
        </clr-dg-cell>
        <clr-dg-cell>
          <input
            clrInput
            placeholder="name"
            name="name"
            formControlName="name"
            required
          />
        </clr-dg-cell>
        <clr-dg-cell>
          <vdr-dynamic-form-input
            formControlName="customFields"
            [readonly]="false"
            [control]="option.get('customFields')"
            [def]="jsonFormInputConfigArgsDef"
          >
          </vdr-dynamic-form-input>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
<ng-template vdrDialogButtons>
  <button
    type="button"
    class="btn btn-outline"
    (click)="resolveWith(undefined)"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!validateOptionGroupNumberModalForm() || !optionGroupFormGroup.dirty"
    (click)="resolveWith(optionGroupFormGroup.getRawValue())"
  >
    Ok
  </button>
</ng-template>
