<clr-dropdown [clrCloseMenuOnItemClick]="true">
  <button class="btn btn-link new-button" clrDropdownTrigger>
    <clr-icon shape="caret down"></clr-icon> New
  </button>
  <clr-dropdown-menu *clrIfOpen>
    <div clrDropdownItem (click)="newConfiguratorOptionGroupCheckBox()">
      Checkbox option group
    </div>
    <div clrDropdownItem (click)="newConfiguratorOptionGroupRadio()">
      Radio option group
    </div>
    <div clrDropdownItem (click)="newConfiguratorOptionGroupNumber()">
      Number option
    </div>
  </clr-dropdown-menu>
</clr-dropdown>
<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="options"
>
  <div
    *ngFor="let option of options; let i = index"
    cdkDrag
    cdkDragHandle
    style="
      margin-bottom: 1vh;
      border-radius: var(--border-radius-input) !important;
      border: 1px solid #bfc3cc !important;
    "
    class="clr-row"
  >
    <div
      style="display: inline-block; padding-top: 7.5px !important"
      class="clr-col-10"
    >
      <clr-icon
        shape="drag-handle"
        style="cursor: pointer"
        size="25"
      ></clr-icon>
      {{ option.name }}
    </div>
    <clr-dropdown [clrCloseMenuOnItemClick]="true" class="clr-col">
      <button class="btn btn-link new-button" clrDropdownTrigger>
        <clr-icon shape="caret down"></clr-icon> Action
      </button>
      <clr-dropdown-menu *clrIfOpen class="action-dropDown">
        <button
          clrDropdownItem
          class="btn btn-link new-button btn-primary"
          (click)="popUpEditModal(i)"
        >
          Edit <clr-icon shape="pencil"></clr-icon>
        </button>
        <button
          clrDropdownItem
          class="btn btn-link new-button btn-danger"
          (click)="deleteOptionGroup(i, $event)"
        >
          Delete <clr-icon shape="trash"></clr-icon>
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>
