.edit-button:active,
.new-button:active {
  box-shadow: none;
  outline: none;
}

.edit-button {
  float: right !important;
  padding: 0 !important;
  margin-top: 3px !important;
  margin-right: 5px !important;
  box-shadow: none !important;
}

.new-button {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
}

.action-dropDown {
  padding: 0 !important;
}
