{{> header title="{{ subject }}" }}

<mj-section>
    <mj-column>
        <mj-text>
            Dear {{ order.customer.firstName }} {{ order.customer.lastName }},
        </mj-text>
        <mj-text>
            {{ bodyText }}
            <br/>
        </mj-text>

        <mj-button background-color="#e72170"
                   color="white"
                   href="{{storefrontUrl}}/order?code={{order.code}}&email={{order.customer.emailAddress}}">
            {{ buttonText }}
        </mj-button>
    </mj-column>
</mj-section>


{{> footer }}
