<ng-template vdrDialogTitle>Number option</ng-template>
<div [formGroup]="optionGroupFormGroup">
  <div class="clr-row">
    <div class="clr-col">
      <span>Id</span>
      <input clrInput placeholder="id" formControlName="id" required />
    </div>
    <div class="clr-col">
      <span>Name</span>
      <input clrInput placeholder="name" formControlName="name" required />
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col">
      <span>Min</span>
      <input
        clrInput
        placeholder="min"
        type="number"
        step="0.01"
        [max]="optionGroupFormGroup.get('max')?.value - 0.01"
        [min]="0.01"
        formControlName="min"
        required
      />
    </div>
    <div class="clr-col">
      <span>Max</span>
      <input
        clrInput
        placeholder="max"
        [min]="optionGroupFormGroup.get('min')?.value + 0.01"
        type="number"
        step="0.01"
        formControlName="max"
        required
      />
    </div>
  </div>
</div>

<ng-template vdrDialogButtons>
  <button
    type="button"
    class="btn btn-outline"
    (click)="resolveWith(undefined)"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!validateOptionGroupNumberModalForm() || !optionGroupFormGroup.dirty"
    (click)="resolveWith(optionGroupFormGroup.getRawValue())"
  >
    Ok
  </button>
</ng-template>
