---
import { removeTrailingAndLeadingSlash } from "../api/util/catalog-util";
import { catalog } from "../api/vendure-catalog";
import MainLayout from "../layouts/MainLayout.astro";

const { collectionTree, products } = await catalog.get();

export async function getStaticPaths() {
  const { products } = await catalog.get();
  const paths = products.map((product) => ({
    params: { product: removeTrailingAndLeadingSlash(product.path) },
    props: { productSlug: product.slug },
  }));
  return paths;
}
---

<MainLayout
  title="404 - Page Not Found"
  categories={collectionTree}
  products={products}
  metaTitle="404"
  metaDescription="404"
  path="/404/"
>
<div class="bg-white">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">404 Page Not Found<br />We couldn't find what you are looking for</h2>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="/" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-900">Check out our products</a>
      </div>
    </div>
  </div>
</MainLayout>
