---
// Component Imports
import MainLayout from "@layouts/MainLayout.astro";
import ProductsRow from "@components/ProductsRow.vue";
import Reviews from "@components/Reviews.vue";
import CategoriesRow from "@components/CategoriesRow.vue";
import { catalog, getPopularProducts } from "../api/vendure-catalog";
import { getBlogs, Blog } from "../api/directus";
import BlogsRow from "@components/BlogsRow.vue";


const {collectionTree, products } = await catalog.get();

const blogs: Blog[] = await getBlogs()
const recentBlogs: Blog[] = blogs.slice(0, 3)

const popularProducts = await getPopularProducts();
---

<MainLayout
  title="Expert Graphic Printing Services"
  categories={collectionTree}
  products={products}
  metaTitle="Colour Graphics | Expert Graphic Printing Services"
  metaDescription="At Colour Graphics, we understand the importance of high quality graphics printing. Whether small or large format printing, we can handle it. Order today."
>
  <img src="/HeroBanner.jpg" alt="Proudly running eco friendly!" class="rounded-md">
  <!-- Main start -->
  <main class="flex flex-col relative">
    <h2 class="mt-12 mb-4">
      <span class="text-2xl md:text-3xl desktop:text-5xl">Products.</span>
      <span
        class="text-2xl md:text-3xl desktop:text-5xl text-gray-400 ml-2 "
      >
        See what’s trending with other customers
      </span>
    </h2>
    <!-- <p class="mt-4 md:mt-8 text-xl md:text-2xl desktop:text-4xl">
            See your ideas come to life with our <b>custom print</b> solutions.
          </p> -->

    <ProductsRow client:load products={popularProducts} />

    <h2 class="mt-12 mb-4">
      <span class="text-2xl md:text-3xl desktop:text-5xl"
        >Top categories</span
      >
      <span
        class="text-2xl md:text-3xl desktop:text-5xl text-gray-400"
      >
        Our most popular categories
      </span>
    </h2>
    <CategoriesRow collections={collectionTree.slice(0, 5)} />
    <!-- <h2 class="mt-6">
      <span class="text-[24px] md:text-[32px] desktop:text-5xl"
        >Reviews</span
      >
      <span
        class="text-[24px] md:text-[32px] desktop:text-5xl text-gray-400 font-bold ml-2 md:ml-4"
      >
        See what our customers are saying
      </span>
    </h2>
    <Reviews /> -->
    <div class="sm:flex sm:items-center sm:justify-between mt-12 mb-2">
      <h2 class="mb-4">
        <span class="text-2xl md:text-3xl desktop:text-5xl">Recent blogs</span>
        <span
          class="text-2xl md:text-3xl desktop:text-5xl text-gray-400"
        >
        Benefit from our expertise
        </span>
      </h2>
      <a class="font-semibold text-primary-400 text-lg hidden sm:block" href="/blog/1">Read more blogs</a>
    </div>
    <BlogsRow blogs={recentBlogs} />
    <a class="font-semibold text-primary-400 text-lg block sm:hidden mb-14" href="/blog/1">Read more blogs</a>
  </main>
</MainLayout>