---
import PasswordResetPage from "@components/PasswordResetPage.vue";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <title>Sign in</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/fcu4nqs.css" />
    <style></style>
  </head>
  <body>
    <main>
      <PasswordResetPage client:only="vue" />
    </main>
  </body>
</html>
