<template>
  <div
    v-if="message"
    class="tablet:px-10 laptop:px-16 widescreen:px-auto tablet:mb-0 h-15 bg-alert mb-3 mt-3 flex items-center justify-center p-4 px-4 text-center text-base font-semibold"
  >
    {{ message }}
  </div>
</template>

<script lang="ts" setup>
import type { PropType } from "vue";

const props = defineProps({
  message: {
    type: String as PropType<string>,
  },
});
</script>
