<template>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div
    aria-live="assertive"
    class="pointer-events-none fixed inset-0 top-11 z-10 flex px-4 py-6 sm:p-6"
  >
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <!-- Notification panel, dynamically insert this into the live region when it needs to be displayed -->
      <transition
        enter-active-class="transform ease-out duration-300 transition"
        enter-from-class="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
        enter-to-class="translate-y-0 opacity-100 sm:translate-x-0"
        leave-active-class="transition ease-in duration-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div
          v-if="show"
          class="pointer-events-auto relative flex w-full max-w-xs divide-x divide-gray-200 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5"
        >
          <ProgressBar @finish="onDisapear" />
          <div class="flex w-0 flex-1 items-center p-4">
            <div class="w-full">
              <p
                class="mt-1 text-sm font-semibold"
                :class="isError ? 'text-red-500' : 'text-gray-700'"
              >
                {{ notificationMsg }}
              </p>
            </div>
          </div>
          <div class="flex" v-if="showButton">
            <div class="flex flex-col divide-y divide-gray-200">
              <div class="flex h-0 flex-1">
                <a
                  href="/checkout-cart"
                  @click="show = false"
                  class="text-primary hover:text-primary-300 focus:ring-primary-300 flex w-full items-center justify-center rounded-none rounded-tr-lg border border-transparent px-4 py-3 text-sm font-medium focus:z-10 focus:outline-none focus:ring-2"
                >
                  Go to cart
                </a>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch } from "vue";
import {
  activeOrder,
  activeOrderError,
  notificationMessage,
} from "../../store";
import ProgressBar from "./ProgressBar.vue";

const show = ref(false);
const showButton = ref(false);
const isError = ref(false);
const notificationMsg = ref("");

const onDisapear = () => {
  show.value = false;
  showButton.value = false;
  isError.value = false;
  notificationMsg.value = "";
};

// Show notification based on added or removed items
watch(activeOrder, (newOrder, oldOrder) => {
  if (!newOrder || !oldOrder) {
    return;
  }
  const itemsAdded = newOrder.totalQuantity - (oldOrder?.totalQuantity ?? 0);
  if (itemsAdded === 0) {
    return;
  }
  if (itemsAdded > 1) {
    notificationMsg.value = `${itemsAdded} items added to cart`;
  } else if (itemsAdded === 1) {
    notificationMsg.value = `${itemsAdded} item added to cart`;
  } else if (itemsAdded < -1) {
    notificationMsg.value = `${Math.abs(itemsAdded)} items removed from cart`;
  } else {
    notificationMsg.value = `${Math.abs(itemsAdded)} item removed from cart`;
  }
  showButton.value = true;
  show.value = true;
});

watch(activeOrderError, (newError, oldError) => {
  if (newError?.message ?? newError?.errorCode) {
    notificationMsg.value = (newError?.message ?? newError?.errorCode)!;
    showButton.value = true;
    show.value = true;
    isError.value = true;
  }
});
watch(notificationMessage, (newNotification, oldNotification) => {
  notificationMsg.value = newNotification?.message || "";
  isError.value = newNotification?.error || false;
  show.value = true;
  showButton.value = false;
});
</script>
