<template>
  <div class="progress" :style="{ width: width + '%' }"></div>
</template>

<script setup>
import { onMounted, ref } from "vue";

const emit = defineEmits(["finish"]);
const props = defineProps({
  progress: { type: Number, required: false, default: 5 }, // number in seconds
});

const width = ref(100);

onMounted(() => {
  updateWidth();
});

function updateWidth() {
  const id = setInterval(() => {
    width.value -= 0.5;
    if (width.value === 0) {
      clearInterval(id);
      emit("finish");
    }
  }, props.progress * 4);
}
</script>

<style scoped>
.progress {
  background: #4f46e5;
  border-radius: 6px;
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  padding: 1px;
  position: absolute;
}
</style>
