<template>
  <div
    class="tablet:px-10 laptop:px-16 widescreen:px-0 fixed top-0 z-10 w-full bg-gray-50 px-4"
  >
    <ul class="mx-auto hidden h-10 max-w-[1920px] gap-x-8 text-sm md:flex">
      <!-- <li class="flex justify-center">
        <a class="cursor-pointer flex items-center justify-start">
          <CalculatorIcon class="block h-5 w-5" />
          <span class="ml-2 text-base">Instant Price Calculator</span>
        </a>
      </li> -->
      <li class="flex justify-center">
        <a
          class="flex cursor-pointer items-center justify-start"
          :href="`tel:${details.phoneNumber}`"
        >
          <PhoneIcon class="block h-5 w-5" />
          <span class="ml-2 text-base">{{ details.phoneNumberDisplay }}</span>
        </a>
      </li>
      <li class="flex justify-center">
        <a
          class="flex cursor-pointer items-center justify-start"
          :href="`mailto:${details.email}`"
        >
          <EnvelopeIcon class="block h-5 w-5" />
          <span class="ml-2 text-base">{{ details.email }}</span>
        </a>
      </li>
      <li class="flex justify-center">
        <div class="flex items-center justify-start">
          <InformationCircleIcon class="block h-5 w-5" />
          <span class="ml-2 text-base"
            >Artwork can be uploaded after checkout</span
          >
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import {
  EnvelopeIcon,
  PhoneIcon,
  InformationCircleIcon,
} from "@heroicons/vue/24/outline";
import { details } from "../../data/global";
</script>
