<template>
  <div class="flex">
    <ArrowPathIcon
      class="animate-spin"
      :class="`text-${colour} w-${width} h-${height}`"
    />
  </div>
</template>

<script lang="ts" setup>
import { ArrowPathIcon } from "@heroicons/vue/24/outline";

const props = defineProps({
  colour: { type: String, default: "primary" },
  width: { type: String, default: "6" },
  height: { type: String, default: "6" },
});
</script>
